<footer class="l-footer">
    <div class="container">
        <div class="row">

            <div class="social col-sm-4">
                <ul class="nav">
                    <li><a href="https://www.facebook.com/IntrasRD" class="fa fa-stack-2x fa-facebook" target="_blank" title="visitenos en Facebook"></a></li>
                    <li><a href="http://www.linkedin.com/company/intras" class="fa fa-stack-2x fa-linkedin" target="_blank" title="visitenos en linkedin"></a></li>
                    <li><a href="https://twitter.com/IntrasRD" class="fa fa-stack-2x fa-twitter" target="_blank" title="visitenos en twitter"></a></li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="footer-nav">
                    <a class="f-logo" href="http://www.intras.com.do" target="_blank"><img src="assets/app/img/logo-Intras-white.png" width="150" /></a>
                    <ul class="nav">
                        <li ng-class="{ on: ( subview == 'videos' ) }">
                            <a href="#!/categories">Categorías</a>
                        </li>
                        <li ng-class="{ on: ( subview == 'about' ) }">
                            <a href="#!/about">Sobre Nosotros</a>
                        </li>
                        <li ng-class="{ on: ( subview == 'contact' ) }">
                            <a href="#!/contact">Contáctenos</a>
                        </li>
                        <li>
                            <a href="http://www.intras.com.do" target="_blank">Ir a INTRAS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>&copy; {{ copyrightYear }} INTRAS, Inc. All rights reserved.</p>
        </div>
    </div>
</footer>
