<!-- BEGIN: Layout Header. -->
<header class="l-header">
    <nav class="navbar navbar-default">
        <div class="container">
           <div class="row">
                <div class="navbar-header col-sm-3 col-xs-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                        <span class="fa fa-2x fa-bars"></span>
                    </button>
                    <div id="logo">
                        <a href="#!/home"><img src="/assets/app/img/logo-tdv.png" alt="Intras Logo"/></a>
                    </div>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="col-sm-9 col-xs-12">


                    <div class="collapse navbar-collapse" collapse="isCollapsed">
                        <ul class="nav navbar-nav nav-top navbar-right">
                            <li ng-class="{ on: ( subview == 'videos' ) }">
                                <a href="#!/categories">Categorías</a>
                            </li>
                            <li ng-class="{ on: ( subview == 'about' ) }">
                                <a href="#!/about">Sobre este Site</a>
                            </li>
                            <li ng-class="{ on: ( subview == 'contact' ) }">
                                <a href="#!/contact">Contáctenos</a>
                            </li>
                            <li>
                                <a href="http://www.intras.com.do" target="_blank">Ir a INTRAS</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                </div>
           </div>
        </div><!-- /.container-fluid -->
    </nav>
</header>
<!-- END: Layout Header. -->