
<div ng-controller="layouts.SplashController" class="l-splash">

        <!-- BEGIN: Layout Container. -->
        <div class="l-container">

            <!-- Layout Header. -->
            <div ng-include=" 'assets/app/views/layouts/_header.html' "></div>



		<!-- Include Body Content. -->
		<div ng-switch="subview">
			<div ng-switch-when="home" ng-include=" 'assets/app/views/home/index.htm' "></div>
		</div>


	</div>
	<!-- END: Layout Container. -->


    <!-- Layout Footer. -->
    <!--   <div ng-include=" 'assets/app/views/layouts/_footer.html' "></div>   -->


</div>