
<div ng-controller="layouts.StandardController" class="l-standard">


	<!-- BEGIN: Layout Container. -->
	<div class="l-container">

        <!-- Layout Header. -->
        <div ng-include=" 'assets/app/views/layouts/_header.html' "></div>

		<!-- BEGIN: Layout Header. -->


		<!-- Include Body Content. -->
		<div ng-switch="subview">
			<div ng-switch-when="about" ng-include=" 'assets/app/views/about/index.htm' "></div>
            <div ng-switch-when="contact" ng-include=" 'assets/app/views/contact/index.htm' "></div>
			<div ng-switch-when="home" ng-include=" 'assets/app/views/home/index.htm' "></div>
			<div ng-switch-when="videos" ng-include=" 'assets/app/views/videos/index.htm' "></div>
		</div>


	</div>
	<!-- END: Layout Container. -->

    <!-- Layout Footer. -->
    <div ng-include=" 'assets/app/views/layouts/_footer.html' "></div>



</div>