<div ng-controller="about.AboutController" class="l-about" data-status="{{ status }}">

    <div class="wrap-top">
        <div class="container">
            <h1>Sobre este Site</h1>
        </div>
    </div>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        <strong>“Temas de Vanguardia”</strong> es uno de los cinco pilares que componen la propuesta de valor de <strong>INTRAS</strong> y que a la vez sustentan nuestro liderazgo en el mercado de la capacitación. Este pilar en concreto evidencia la prioridad de que toda nuestra oferta formativa esté totalmente enfocada en temas vanguardistas y además basada en las mejores prácticas globales. De igual forma, evidencia el hecho de que todos nuestros programas y eventos hacen especial énfasis en la transferencia de conocimientos y tecnologías de punta aplicables a situaciones reales y de actualidad en el mundo corporativo, más que teóricas o académicas.
                    </p>

                    <p>
                        Este innovador site, el cual tiene el mismo nombre de este pilar, constituye una iniciativa más de <strong>INTRAS</strong> de poner al alcance de sus clientes, actuales y potenciales, herramientas concretas, contenidos de amplio interés y conocimientos relevantes, con el objetivo de aportar a su desempeño y el de sus organizaciones.
                    </p>
                    <p>

                        “Temas de Vanguardia” está compuesto de una serie de videos organizados por áreas de interés, con entrevistas cortas a destacados expertos de diferentes disciplinas, mediante los cuales se exponen de forma concisa y concentrada, temas protagónicos de la gestión empresarial moderna.


                    </p>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="assets/app/img/Pilares-Organizacionales-INTRAS.png" alt="Pilares de Intras" />
                </div>
                <div class="col-xs-12">
                    <div class="subtext">
                        <h4>Sobre <strong>INTRAS</strong></h4>
                        <p>INTRAS es el la principal firma de capacitación en la República Dominicana. Esta es el resultado de numerosas alianzas estratégicas y acuerdos de colaboración con prestigiosas firmas internacionales de consultoría y entidades académicas de primera línea, así como también de la representación de importantes institutos internacionales de capacitación ejecutiva. Su principal actividad consiste en la realización de eventos formativos Abiertos e “In-House” sustentados en la enseñanza de herramientas concretas con aplicabilidad inmediata, la utilización de metodologías probadas de alta efectividad, la selección de los más destacados expertos en cada disciplina y la oferta de los temas más vanguardistas y de mayor impacto en el mundo corporativo.</p>
                        <p>Ver más información en: <a href="http://www.intras.com.do" title="INTRAS.com.do" target="_blank">www.intras.com.do</a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>