<html ng-app="tdvApp" ng-controller="AppController" xmlns="http://www.w3.org/1999/html" class="js hashchange cssanimations csstransforms no-csstransforms3d csstransitions no-video ng-scope"><head>
    <meta charset="utf-8">
    <meta lang="es">
    <meta name="fragment" content="!">
    <link rel="shortcut icon" href="assets/app/img/favicon.png">
    <meta name="description" content="“Temas de Vanguardia” es un Web site compuesto por una serie de videos organizados por áreas de interés, con entrevistas cortas a destacados expertos de diferentes disciplinas, mediante los cuales se exponen de forma concisa y concentrada, temas protagónicos de la gestión empresarial moderna.">
    <meta name="author" content="Novel Martinez">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <!--<script src="assets/vendor/html5shiv/html5shiv.js"></script>-->
    <!--[endif]-->


    <title ng-bind="windowTitle" class="ng-binding">Temas de Vanguardia</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,100,300,300italic,700">
    <link rel="stylesheet" type="text/css" href="assets/app/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/app/css/main.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}ng\:form{display:block;}</style><meta view-head="" property="og:image" content="http://www.temasdevanguardia.com/assets/app/img/pics/logo-tdv-w600.jpg"><meta view-head="" property="og:title" content="Temas de Vanguardia"><meta view-head="" property="og:description" content="“Temas de Vanguardia” es un Web site compuesto por una serie de videos organizados por áreas de interés, con entrevistas cortas a destacados expertos de diferentes disciplinas, mediante los cuales se exponen de forma concisa y concentrada, temas protagónicos de la gestión empresarial moderna."><meta view-head="" property="og:url" content=""></head>
<body><p style="background: green;margin: 0 auto;padding: 5px;color: white;text-align:center;box-shadow: 0 -3px 3px rgba(0,0,0,.2) inset;text-align: center;">Escaped Fragment</p>

	<div ng-switch="subview">
		<!--
			Show while the AngularJS app is loading.
		-->
		<!-- ngSwitchWhen: loading -->
		<!-- Core layouts. -->
		<!-- ngSwitchWhen: splash --><div ng-switch-when="splash" ng-include=" 'assets/app/views/layouts/splash.html' " class="ng-scope"><div ng-controller="layouts.SplashController" class="l-splash ng-scope"><div class="l-container"><div ng-include=" 'assets/app/views/layouts/_header.html' "><!-- BEGIN: Layout Header. -->
<header class="l-header ng-scope">
    <nav class="navbar navbar-default">
        <div class="container">
           <div class="row">
                <div class="navbar-header col-sm-3 col-xs-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                        <span class="fa fa-2x fa-bars"></span>
                    </button>
                    <div id="logo">
                        <a href="#!/home"><img src="/assets/app/img/logo-tdv.png" alt="Intras Logo"></a>
                    </div>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="col-sm-9 col-xs-12">


                    <div class="collapse navbar-collapse" collapse="isCollapsed" style="height: 0px; ">
                        <ul class="nav navbar-nav nav-top navbar-right">
                            <li ng-class="{ on: ( subview == 'videos' ) }">
                                <a href="#!/categories">Categorías</a>
                            </li>
                            <li ng-class="{ on: ( subview == 'about' ) }">
                                <a href="#!/about">Sobre este Site</a>
                            </li>
                            <li ng-class="{ on: ( subview == 'contact' ) }">
                                <a href="#!/contact">Contáctenos</a>
                            </li>
                            <li>
                                <a href="http://www.intras.com.do" target="_blank">Ir a INTRAS</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                </div>
           </div>
        </div><!-- /.container-fluid -->
    </nav>
</header>
<!-- END: Layout Header. --></div><div ng-switch="subview"><!-- ngSwitchWhen: home --><div ng-switch-when="home" ng-include=" 'assets/app/views/home/index.htm' " class="ng-scope"><div ng-controller="home.HomeController" data-status="ready" class="ng-scope">


    <!-- VIEW-HEAD -->
    
    
    
    
    <!-- end. of VIEW-HEAD -->

    <div class="splash-videos">
       <div class="container">
           <div class="row">
               <div class="nv col-sm-8 col-xs-12">

                   <div class="new-video image-caption">
                       <a href="#!/videos/market/23">
                           <span class="tag-new">Nuevo Tema</span>
                           <img class="thumb" src="assets/app/img/pics/gking-23.jpg" alt="imagen de Pablo Gonzalo">
                           <div class="overlay"></div>
                           <div class="caption">
                               <p class="speaker">Gustavo King</p>
                               <h3>Hacia una Gestión Estratégica de Marketing</h3>
                           </div>
                           <div class="description">
                               <p>Toda empresa, sin importar su tamaño o el sector en que se desenvuelva, debe establecer de manera clara y precisa las estrategias de Marketing a seguir, esto es aquellas acciones, ofensivas o defensivas, que le permitan crear una posición dentro de la industria y a la vez obtener un importante rendimiento sobre la inversión. Una buena estrategia de marketing integrará los objetivos de Marketing de la empresa, las políticas, las secuencias de acción (tácticas) dentro de un todo coherente, con el objetivo final de poner la empresa en posición de llevar a cabo su misión de forma efectiva y eficiente. <span class="see-more">Ver Más <span class="fa fa-angle-double-right"></span></span>  </p>
                           </div>
                       </a>
                   </div>

               </div>

               <!-- MOST POPUPLAR ITEMS .-->
               <div class="pi col-sm-4 col-xs-12">
                  <div class="populars">
                       <h3>Temas Populares</h3>

                         <div class="row">
                             <div class="col-sm-12">
                                 <a class="popular-item management border-hcc" href="#!/videos/management/2">
                                     <div>
                                         <div class="thumb">
                                             <img src="assets/app/img/pics/pgonzalo-2.jpg" alt="Pablo Gonzalo">
                                         </div>
                                         <div class="title">
                                             <p>Claves para una Comunicación Interna Eficaz</p>
                                             <span>Gestión Humana</span>
                                         </div>
                                     </div>
                                 </a>
                             </div>

                             <div class="col-sm-12">
                                 <a class="popular-item skills border-hcc" href="#!/videos/skills/15">
                                     <div>
                                         <div class="thumb">
                                             <img src="assets/app/img/pics/mvarela-15.jpg" alt="Maryam Varela">
                                         </div>
                                         <div class="title">
                                             <p>Claves para la Prevención, Resolución y Manejo de Conflictos</p>
                                             <span>Desarrollo de Habilidades</span>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <div class="col-sm-12">
                                 <a class="popular-item skills border-hcc" href="#!/videos/skills/11">
                                     <div>
                                         <div class="thumb">
                                             <img src="assets/app/img/pics/frios-11.jpg" alt="Frances Ríos">
                                         </div>
                                         <div class="title">
                                             <p>Claves para ser un Comunicador de Excelencia</p>
                                             <span>Desarrollo de Habilidades</span>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <div class="col-sm-12">
                                 <a class="popular-item clients border-hcc" href="#!/videos/clients/8">
                                     <div>
                                         <div class="thumb">
                                             <img src="assets/app/img/pics/avilches-8.jpg" alt="Antonio Vilches">
                                         </div>
                                         <div class="title">
                                             <p>Cómo Gestionar Cuentas Claves y Clientes Estratégicos</p>
                                             <span>Comercial y Gestión de Clientes</span>
                                         </div>
                                     </div>
                                 </a>
                             </div>


                         </div>
                       </div>


                   </div>
               </div> <!-- END of MOST POPUPLAR ITEMS -->

           </div><!-- END of ROW -->

       </div>
   </div>

   <div class="wrap ng-scope">

       <div class="container">
           <h2> <strong>Videos</strong> Más Recientes por Categoría</h2>

           <!-- LAST ARTICLES -->
           <div class="last-topics">
               <div class="row">

                   <div class="col-sm-4 col-xs-6">
                       <div class="topic flip-container" ontouchstart="this.classList.toggle('hover');">
                           <span class="tag quality bg">Calidad</span>
                           <div class="flipper">
                               <div class="front">
                                   <div class="overlay"></div>
                                   <img src="assets/app/img/pics/amartinez-22.jpg" alt="Alejandro Jadad">
                                   <div class="caption">
                                    <p class="speaker">Alberto Martínez</p>
                                    <p class="title">Principios para una Gestión por Procesos Exitosa</p>
                                   </div>
                               </div>
                               <div class="back">
                                   <p>En este video el facilitador Alberto Martínez, Especialista en la Gestión por Procesos, nos presenta cuáles son los principios para una gestión por procesos exitosa.</p>
                                   <div class="button-wrap">
                                       <a href="#!/videos/quality/22" class="btn btn-success btn-lg">Ver Video <span class="fa fa-play"></span></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>


                   <div class="col-sm-4 col-xs-6">
                       <div class="topic flip-container" ontouchstart="this.classList.toggle('hover');">
                           <span class="tag clients bg">Comercial y Gestión de Clientes</span>
                           <div class="flipper">
                               <div class="front">
                                   <div class="overlay"></div>
                                   <img src="assets/app/img/pics/rfernandez-16.jpg" alt="Rodrigo Fernández">
                                   <div class="caption">
                                       <p class="speaker">Rodrigo Fernández</p>
                                       <p class="title">Herramientas Clave para una Gestión Óptima de la Experiencia del Cliente</p>
                                   </div>
                               </div>
                               <div class="back">
                                   <p>En este video, el facilitador Rodrigo Fernández, experto en gestión estratégica del servicio, nos presenta las herramientas clave para lograr una gestión óptima de la experiencia del cliente.</p>
                                   <div class="button-wrap">
                                       <a href="#!/videos/clients/16" class="btn btn-success btn-lg">Ver Video <span class="fa fa-play"></span></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div class="col-sm-4 col-xs-6">
                       <div class="topic flip-container" ontouchstart="this.classList.toggle('hover');">
                           <span class="tag skills bg">Desarrollo de Habilidades</span>
                           <div class="flipper">
                               <div class="front">
                                   <div class="overlay"></div>
                                   <img src="assets/app/img/pics/jzelaya-5.jpg" alt="Julio Zelaya">
                                   <div class="caption">
                                       <p class="speaker">Julio Zelaya</p>
                                       <p class="title">Claves para Liderar y Gestionar el Cambio en las Organizaciones</p>
                                   </div>
                               </div>
                               <div class="back">
                                   <p>En este video, el facilitador Julio Zelaya, experto en gestión del cambio, nos presenta las claves para liderar y gestionar de manera exitosa el cambio en las organizaciones.</p>
                                   <div class="button-wrap">
                                       <a href="#!/videos/skills/5" class="btn btn-success btn-lg">Ver Video <span class="fa fa-play"></span></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>



                   <div class="col-sm-4 col-xs-6">
                       <div class="topic flip-container" ontouchstart="this.classList.toggle('hover');">
                           <span class="tag management bg">Gestión Humana</span>
                           <div class="flipper">
                               <div class="front">
                                   <div class="overlay"></div>
                                   <img src="assets/app/img/pics/pgonzalo-2.jpg" alt="Pablo Gonzalo">
                                   <div class="caption">
                                       <p class="speaker">Pablo Gonzalo</p>
                                       <p class="title">Claves para una Comunicación Interna Eficaz</p>
                                   </div>
                               </div>
                               <div class="back">
                                   <p>En este video, el facilitador Pablo Gonzalo experto en Comunicación Interna, nos habla de cuáles son las claves para lograr que una comunicación interna sea eficaz, considerando a los empleados como los protagonistas del relato que queremos comunicar, más que verlos como un público.</p>
                                   <div class="button-wrap">
                                       <a href="#!/videos/management/2" class="btn btn-success btn-lg">Ver Video <span class="fa fa-play"></span></a>
                                   </div>

                               </div>
                           </div>
                       </div>
                   </div>

                   <div class="col-sm-4 col-xs-6">
                       <div class="topic flip-container" ontouchstart="this.classList.toggle('hover');">
                           <span class="tag market bg">Mercadeo y Comunicaciones</span>
                           <div class="flipper">
                               <div class="front">
                                   <div class="overlay"></div>
                                   <img src="assets/app/img/pics/smoschini-13.jpg" alt="Silvia Moschini">
                                   <div class="caption">
                                       <p class="speaker">Silvina Moschini</p>
                                       <p class="title">Las Claves de Éxito en la Era del Consumidor 2.0</p>
                                   </div>
                               </div>
                               <div class="back">
                                   <p>En este video la experta en Marketing Digital, Silvina Moshini, nos habla sobre cuáles son las claves del éxito empresarial en esta era del consumidor 2.0.</p>
                                   <div class="button-wrap">
                                       <a href="#!/videos/market/13" class="btn btn-success btn-lg">Ver Video <span class="fa fa-play"></span></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>


                   <div class="col-sm-4 col-xs-6">
                       <div class="topic flip-container" ontouchstart="this.classList.toggle('hover');">
                           <span class="tag informatics bg">Tecnología de Información y Sistemas</span>
                           <div class="flipper">
                               <div class="front">
                                   <div class="overlay"></div>
                                   <img src="assets/app/img/pics/czamora-6.jpg" alt="Lino Jorge Donaher">
                                   <div class="caption">
                                       <p class="speaker">Carlos Zamora</p>
                                       <p class="title">Claves para Alinear las Tecnologías de Información con los Objetivos del Negocio</p>
                                   </div>
                               </div>
                               <div class="back">
                                   <p>En este video el facilitador Carlos Zamora, Experto en Tecnologías de Información, nos habla sobre las claves para alinear la tecnología de información con los objetivos del Negocio.</p>
                                   <div class="button-wrap">
                                       <a href="#!/videos/informatics/6" class="btn btn-success btn-lg">Ver Video <span class="fa fa-play"></span></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>



               </div><!-- END of ROW -->
           </div><!-- END of LAST ARTICLES -->

       </div>
   </div><!-- END of WRAP -->

    <div class="wrap-bottom ng-scope">
        <div class="centered-title">
            <hr>
            <h2>Otras <strong>Publicaciones</strong> de INTRAS</h2>
        </div>
        <div class="container">

            <!-- PUBLICATIONS -->
            <div class="publications">
                <div class="row">


                    <div class="col-sm-4 col-xs-12">
                        <div class="box">
                            <a href="http://www.gestion.com.do" title="Gestión" target="_blank" class="round-frame">
                                <span class="logo gestion"></span>
                            </a>

                            <p>Revista de negocios que se distribuye gratuitamente a los principales empresarios y altos ejecutivos de la República Dominicana. Disponible trimestralmente en formato IMPRESO y DIGITAL.</p>
                            <div class="button-wrap">
                                <a href="http://www.gestion.com.do" target="_blank" class="btn btn-default btn-lg"><span>Visitar</span> <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4 col-xs-12">
                        <div class="box">
                            <a href="http://www.intras.com.do/index.php?option=com_wrapper&amp;view=wrapper&amp;Itemid=2" title="Gestión" target="_blank" class="round-frame">
                                <span class="logo mupdate"></span>
                            </a>
                            <p>Boletín periódico en el cual son publicados interesantes artículos, tips, definiciones y reportajes con temas de vanguardia y herramientas concretas del mundo corporativo nacional e internacional.</p>
                            <div class="button-wrap">
                                <a href="http://www.intras.com.do/index.php?option=com_wrapper&amp;view=wrapper&amp;Itemid=2" target="_blank" class="btn btn-default btn-lg"><span>Visitar</span> <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4 col-xs-12">
                        <div class="box">
                            <a href="http://intras.com.do/blog/" title="Gestión" target="_blank" class="round-frame">
                                <span class="logo blog"></span>
                            </a>
                            <p>Espacio donde el Presidente de INTRAS comparte la aplicabilidad y utilidad de aprendizajes y experiencias personales, profesionales y empresariales.</p>
                            <div class="button-wrap">
                                <a href="http://intras.com.do/blog/" target="_blank" class="btn btn-default btn-lg"><span>Visitar</span> <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>


                </div><!-- END of ROW -->

            </div><!-- END of PUBLICATIONS -->
        </div>

    </div>

</div></div></div><div ng-include=" 'assets/app/views/layouts/_footer.html' "><footer class="l-footer ng-scope"><div class="container"><div class="row"><div class="social col-sm-4"><ul class="nav"><li><a href="https://www.facebook.com/IntrasRD" class="fa fa-stack-2x fa-facebook" target="_blank" title="visitenos en Facebook"></a></li><li><a href="http://www.linkedin.com/company/intras" class="fa fa-stack-2x fa-linkedin" target="_blank" title="visitenos en linkedin"></a></li><li><a href="https://twitter.com/IntrasRD" class="fa fa-stack-2x fa-twitter" target="_blank" title="visitenos en twitter"></a></li></ul></div><div class="col-sm-8"><div class="footer-nav"><a class="f-logo" href="http://www.intras.com.do" target="_blank"><img src="assets/app/img/logo-Intras-white.png" width="150"></a><ul class="nav"><li ng-class="{ on: ( subview== 'videos' ) }"><a href="#!/categories">Categorías</a></li><li ng-class="{ on: ( subview== 'about' ) }"><a href="#!/about">Sobre Nosotros</a></li><li ng-class="{ on: ( subview== 'contact' ) }"><a href="#!/contact">Contáctenos</a></li><li><a href="http://www.intras.com.do" target="_blank">Ir a INTRAS</a></li></ul></div></div></div></div><div class="copyright"><div class="container"><p class="ng-binding">© 2014 INTRAS, Inc. All rights reserved.</p></div></div></footer></div></div></div>
		<!-- ngSwitchWhen: standard -->
	</div>


	<!-- ### JavaScript Modules. ### -->


	<!-- Load vendor scripts. -->


    <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="assets/vendor/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="assets/vendor/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="assets/vendor/modernizr/modernizr.custom.76222.js"></script>
	<script type="text/javascript" src="assets/vendor/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="assets/vendor/bootstrap/ui-bootstrap.min.js"></script>

	<!-- Load AngularJS application module. -->
	<script type="text/javascript" src="assets/app/main.js"></script>

	<!-- Load Controllers.-->
    <script type="text/javascript" src="assets/app/controllers/contact/contact-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/about/about-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/home/home-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/layouts/splash-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/layouts/standard-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/categories-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/detail/detail-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/detail/random-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/list-controller.js"></script>
    <script type="text/javascript" src="assets/app/controllers/videos/related-list-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/videos-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/app-controller.js"></script>

	<!-- Load Services. -->
	<script type="text/javascript" src="assets/app/services/category-service.js"></script>
	<script type="text/javascript" src="assets/app/services/lodash.js"></script>
	<script type="text/javascript" src="assets/app/services/video-service.js"></script>
	<script type="text/javascript" src="assets/app/services/request-context.js"></script>
	
	<!-- Load Beans. -->
	<script type="text/javascript" src="assets/app/beans/render-context.js"></script>

    <!-- Load Directives. -->
    <script type="text/javascript" src="assets/app/directives/dirDisqus.js"></script>
    <script type="text/javascript" src="assets/app/directives/viewhead.js"></script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-27513281-2', 'auto');
        ga('send', 'pageview');
    </script>

</body></html>
