<html ng-app="tdvApp" ng-controller="AppController" xmlns="http://www.w3.org/1999/html" class="js hashchange cssanimations csstransforms no-csstransforms3d csstransitions no-video ng-scope"><head>
    <meta charset="utf-8">
    <meta lang="es">
    <meta name="fragment" content="!">
    <link rel="shortcut icon" href="assets/app/img/favicon.png">
    <meta name="description" content="“Temas de Vanguardia” es un Web site compuesto por una serie de videos organizados por áreas de interés, con entrevistas cortas a destacados expertos de diferentes disciplinas, mediante los cuales se exponen de forma concisa y concentrada, temas protagónicos de la gestión empresarial moderna.">
    <meta name="author" content="Novel Martinez">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <!--<script src="assets/vendor/html5shiv/html5shiv.js"></script>-->
    <!--[endif]-->

    <title ng-bind="windowTitle" class="ng-binding">Desarrollo de Habilidades</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,100,300,300italic,700">
    <link rel="stylesheet" type="text/css" href="assets/app/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/app/css/main.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}ng\:form{display:block;}</style><link view-head="" rel="canonical" href=""><meta view-head="" property="og:image" content="http://temasdevanguardia.com/assets/app/img/pics/frios-11.jpg"><meta view-head="" property="og:title" content="[VIDEO] Claves para ser un Comunicador de Excelencia"><meta view-head="" property="og:description" content="La facilitadora Frances Ríos nos habla en este video sobre algunas de las numerosas técnicas, tips y herramientas que han &quot;democratizado&quot; la facilidad para hablar en público y vencer el miedo escénico, transformando lo que antes se veía como un don innato en una habilidad adquirible y por ende mejorable."><meta view-head="" property="og:url" content="http://temasdevanguardia.com/#!/videos/skills/11"><script type="text/javascript" async="" src="//temasdevanguardia.disqus.com/embed.js"></script></head>
<body><p style="background: green;margin: 0 auto;padding: 5px;color: white;text-align:center;box-shadow: 0 -3px 3px rgba(0,0,0,.2) inset;text-align: center;">Escaped Fragment</p>

	<div ng-switch="subview">
		<!--
			Show while the AngularJS app is loading.
		-->
		<!-- ngSwitchWhen: loading -->
		<!-- Core layouts. -->
		<!-- ngSwitchWhen: splash -->
		<!-- ngSwitchWhen: standard --><div ng-switch-when="standard" ng-include=" 'assets/app/views/layouts/standard.html' " class="ng-scope"><div ng-controller="layouts.StandardController" class="l-standard ng-scope"><div class="l-container"><div ng-include=" 'assets/app/views/layouts/_header.html' "><!-- BEGIN: Layout Header. -->
<header class="l-header ng-scope">
    <nav class="navbar navbar-default">
        <div class="container">
           <div class="row">
                <div class="navbar-header col-sm-3 col-xs-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                        <span class="fa fa-2x fa-bars"></span>
                    </button>
                    <div id="logo">
                        <a href="#!/home"><img src="/assets/app/img/logo-tdv.png" alt="Intras Logo"></a>
                    </div>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="col-sm-9 col-xs-12">


                    <div class="collapse navbar-collapse" collapse="isCollapsed" style="height: 0px; ">
                        <ul class="nav navbar-nav nav-top navbar-right">
                            <li ng-class="{ on: ( subview == 'videos' ) }" class="on">
                                <a href="#!/categories">Categorías</a>
                            </li>
                            <li ng-class="{ on: ( subview == 'about' ) }">
                                <a href="#!/about">Sobre este Site</a>
                            </li>
                            <li ng-class="{ on: ( subview == 'contact' ) }">
                                <a href="#!/contact">Contáctenos</a>
                            </li>
                            <li>
                                <a href="http://www.intras.com.do" target="_blank">Ir a INTRAS</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                </div>
           </div>
        </div><!-- /.container-fluid -->
    </nav>
</header>
<!-- END: Layout Header. --></div><div ng-switch="subview"><!-- ngSwitchWhen: about --><!-- ngSwitchWhen: contact --><!-- ngSwitchWhen: home --><!-- ngSwitchWhen: videos --><div ng-switch-when="videos" ng-include=" 'assets/app/views/videos/index.htm' " class="ng-scope">
<div ng-controller="videos.videosController" class="ng-scope">


	<!-- Include View Content. -->
	<div ng-switch="subview">
		<!-- ngSwitchWhen: categories -->
		<!-- ngSwitchWhen: detail --><div ng-switch-when="detail" ng-include=" 'assets/app/views/videos/detail/index.htm' " class="ng-scope">
<div ng-controller="videos.detail.DetailController" ng-switch="isLoading" class="ng-scope">

	<!-- BEGIN: Loading Sequence. -->
	<!-- ngSwitchWhen: true -->
	<!-- END: Loading Sequence. -->


	<!-- BEGIN: View. -->
	<!-- ngSwitchWhen: false --><div ng-switch-when="false" data-status="ready" class="ng-scope">

    <!-- HEAD DEFINITIONS-->
    

    
    
    
    
    <!-- END: HEAD DEFINITIONS. -->

    <div class="l-video">

        <div class="breadcrumb">
            <div class="container">
                <a ng-href="#!/categories/" href="#!/categories/">Categorías</a> /
                <a class="skills color" href="#!/videos/skills">Desarrollo de Habilidades</a> /
                <span class="disabled">Video</span>
            </div>
        </div>
        <div class="wrap-top">
            <div class="container">
                <div class="row">
                    <div class="text-center video">
                        <!-- GET POSTER
                        <div class="poster" onclick="thevid=document.getElementById('thevideo'); thevid.style.display='block'; this.style.display='none'">
                            <a class="fa fa-play fa-4x"></a>
                            <img ng-src="assets/app/img/pics/{{video.filesName}}.jpg" />
                        </div>  -->

                       <!-- GET VIDEO
                       <div id="thevideo">
                           <object width="100%" height="420" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
                               <param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" />
                               <param name="src" value="http://www.youtube.com/v/{{video.items.id}}&feature=youtube_gdata_player?version=3&amp;hl=en_US&amp;autoplay=1" />
                               <param name="allowfullscreen" value="true" />
                               <embed width="100%" height="420" type="application/x-shockwave-flash" src="http://www.youtube.com/v/{{video.items.id}}&feature=youtube_gdata_player?version=3&amp;hl=en_US&amp;autoplay=1" allowFullScreen="true" allowscriptaccess="always" allowfullscreen="true" />
                           </object>
                       </div>
                       -->
                       <iframe width="100%" height="420" src="http://www.youtube.com/embed/AJ0i7QrL94M?autoplay=1" frameborder="0"></iframe>

                    </div>
                </div>
            </div>
        </div>

        <div class="container title">
            <div class="speaker">
                <p class="ng-binding">Frances Ríos</p>
            </div>
            <h1 class="ng-binding">Claves para ser un Comunicador de Excelencia</h1>
        </div>

        <div class="use">
            <div class="container">
                <div class="share">

                    <p class="title"><span>Compartir&nbsp;</span><span>este Video</span></p>

                    <a class="fa fa-stack fa-facebook" href="/a/jump/to?u=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttp%3A%2F%2Fwww.temasdevanguardia.com%2F%3F_escaped_fragment_%3D%2Fvideos%2Fskills%2F11" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.temasdevanguardia.com%2F%3F_escaped_fragment_%3D%2Fvideos%2Fskills%2F11','popup','width=500,height=500,scrollbars=no,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0'); return false" rel="title[Temas De Vanguardia];caption[Top Leaders' Summit 2014];group[nature] follow"></a>

                    <a class="fa fa-stack fa-twitter" href="https://twitter.com/home?status=%5BVIDEO%5D Claves para ser un Comunicador de Excelencia %23TDV%20http://www.temasdevanguardia.com/%23!/videos/skills%2F11" onclick="window.open(this.href,'win2','width=500,height=350,menubar=yes,resizable=yes'); return false;"></a>

                    <a class="fa fa-stack fa-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.temasdevanguardia.com/%23!/videos/skills&amp;title=%5BVIDEO%5D Claves para ser un Comunicador de Excelencia&amp;summary=La facilitadora Frances Ríos nos habla en este video sobre algunas de las numerosas técnicas, tips y herramientas que han &quot;democratizado&quot; la facilidad para hablar en público y vencer el miedo escénico, transformando lo que antes se veía como un don innato en una habilidad adquirible y por ende mejorable.&amp;source=INTRAS" onclick="window.open(this.href,'win2','width=500,height=350,menubar=yes,resizable=yes'); return false;"></a>


                   <!-- <div share-square="true" share-links="facebook" share-title="{{ video.items.title }}"></div> -->
                </div>

                <div class="download">
                    <p class="title"><span>Descargar&nbsp;</span><span>este Video</span></p>
                    <a class="fa fa-stack fa-download" href="assets/downloads/videos/frios-11.mp4" download=""></a>
                </div>
                <div class="views">
                    <p class="title"><span>Cantidad&nbsp;</span><span>de Vistas</span></p>
                    <span class="ng-binding">183</span>
                </div>
            </div>
        </div>

        <div class="wrap">
            <div class="container video-content">
                <div class="row">
                    <div class="col-sm-8 col-xs-12">

                        <div class="description">
                            <p id="title" class="ng-binding">Hoy día el conocimiento técnico no es suficiente para impactar y persuadir a clientes, compañeros, colaboradores y stakeholders. Es por eso que todo profesional que quiera ser exitoso debe transformarse en un comunicador de influencia. A la hora de liderar un equipo, un comunicador de influencia tiene el poder de conectar a su gente con la meta de la empresa, llevarlos a entender cómo su labor impacta los resultados económicos esperados, pero sobre todo le permite generar compromiso. Comunicarnos con orden, con claridad, con entusiasmo, con persuasión; en resumidas cuentas con eficacia, no es un lujo sino una necesidad.</p>
                            <p class="ng-binding">La facilitadora Frances Ríos nos habla en este video sobre algunas de las numerosas técnicas, tips y herramientas que han "democratizado" la facilidad para hablar en público y vencer el miedo escénico, transformando lo que antes se veía como un don innato en una habilidad adquirible y por ende mejorable.</p>
                        </div>
                        <div class="more" ng-show="video.article || video.events">
                            <div ng-show="video.events" style="display: none; ">
                                <span class="logo intras"></span>
                                <p>
                                    Ver seminarios de este facilitador <a href="" target="_blank">aquí</a>
                                </p>
                            </div>
                            <div ng-show="video.article">
                                <span class="logo gestion"></span>
                                <p>
                                    Ver artículos de este facilitador <a href="http://bit.ly/TDWKez" target="_blank">aquí</a>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="aside">
                            <h3>Videos <strong>Relacionados</strong></h3>
                            <div ng-include=" 'assets/app/views/videos/detail/related-list.htm' ">
<div ng-controller="videos.RelatedListController" ng-switch="isLoading" class="ng-scope">


    <!-- BEGIN: Loading Sequence. -->
    <!-- ngSwitchWhen: true -->
    <!-- END: Loading Sequence. -->


    <!-- BEGIN: View. -->
    <!-- ngSwitchWhen: false --><div ng-switch-when="false" class="category-list related ng-scope">


                <div class="listed-items">
                    <div class="row">
                        <!-- ngRepeat: video in videos | orderBy:'items.uploaded' --><div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-xs-6 ng-scope">

                            <a class="item" href="#!/videos/skills/5" title="Claves para Liderar y Gestionar el Cambio en las Organizaciones" onclick="resetDisqus()">

                                <div class="thumb">
                                    <div class="see-more"><span class="fa fa-play"></span></div>
                                    <div class="overlay"></div>
                                    <img width="180" ng-src="assets/app/img/pics/jzelaya-5.jpg" alt="Imagen de Julio Zelaya" src="assets/app/img/pics/jzelaya-5.jpg">
                                </div>

                                <h4 class="speaker ng-binding">Julio Zelaya</h4>
                                <h4 class="title ng-binding">Claves para Liderar y Gestionar el Cambio en las Organizaciones</h4>
                                <div class="details">
                                    <span class="views ng-binding">Vistas 162</span>
                                    <span class="date ng-binding">Nov, 2013</span>
                                </div>
                            </a>

                        </div><div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-xs-6 ng-scope">

                            <a class="item" href="#!/videos/skills/15" title="Claves para la Prevención, Resolución y Manejo de Conflictos en el Entorno Profesional" onclick="resetDisqus()">

                                <div class="thumb">
                                    <div class="see-more"><span class="fa fa-play"></span></div>
                                    <div class="overlay"></div>
                                    <img width="180" ng-src="assets/app/img/pics/mvarela-15.jpg" alt="Imagen de Maryam Varela" src="assets/app/img/pics/mvarela-15.jpg">
                                </div>

                                <h4 class="speaker ng-binding">Maryam Varela</h4>
                                <h4 class="title ng-binding">Claves para la Prevención, Resolución y Manejo de Conflictos en el Entorno Profesional</h4>
                                <div class="details">
                                    <span class="views ng-binding">Vistas 249</span>
                                    <span class="date ng-binding">Apr, 2014</span>
                                </div>
                            </a>

                        </div><div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-xs-6 ng-scope hide">

                            <a class="item" href="#!/videos/skills/11" title="Claves para ser un Comunicador de Excelencia" onclick="resetDisqus()">

                                <div class="thumb">
                                    <div class="see-more"><span class="fa fa-play"></span></div>
                                    <div class="overlay"></div>
                                    <img width="180" ng-src="assets/app/img/pics/frios-11.jpg" alt="Imagen de Frances Ríos" src="assets/app/img/pics/frios-11.jpg">
                                </div>

                                <h4 class="speaker ng-binding">Frances Ríos</h4>
                                <h4 class="title ng-binding">Claves para ser un Comunicador de Excelencia</h4>
                                <div class="details">
                                    <span class="views ng-binding">Vistas 183</span>
                                    <span class="date ng-binding">Jun, 2014</span>
                                </div>
                            </a>

                        </div><div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-xs-6 ng-scope">

                            <a class="item" href="#!/videos/skills/19" title="La Esencia del Coaching Ejecutivo" onclick="resetDisqus()">

                                <div class="thumb">
                                    <div class="see-more"><span class="fa fa-play"></span></div>
                                    <div class="overlay"></div>
                                    <img width="180" ng-src="assets/app/img/pics/fjgalan-19.jpg" alt="Imagen de Francisco Javier Galán" src="assets/app/img/pics/fjgalan-19.jpg">
                                </div>

                                <h4 class="speaker ng-binding">Francisco Javier Galán</h4>
                                <h4 class="title ng-binding">La Esencia del Coaching Ejecutivo</h4>
                                <div class="details">
                                    <span class="views ng-binding">Vistas 10</span>
                                    <span class="date ng-binding">Jul, 2014</span>
                                </div>
                            </a>

                        </div><div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-xs-6 ng-scope">

                            <a class="item" href="#!/videos/skills/17" title="Las Bases para un Liderazgo Basado en Valores" onclick="resetDisqus()">

                                <div class="thumb">
                                    <div class="see-more"><span class="fa fa-play"></span></div>
                                    <div class="overlay"></div>
                                    <img width="180" ng-src="assets/app/img/pics/jzelaya-17.jpg" alt="Imagen de Julio Zelaya" src="assets/app/img/pics/jzelaya-17.jpg">
                                </div>

                                <h4 class="speaker ng-binding">Julio Zelaya</h4>
                                <h4 class="title ng-binding">Las Bases para un Liderazgo Basado en Valores</h4>
                                <div class="details">
                                    <span class="views ng-binding">Vistas 9</span>
                                    <span class="date ng-binding">Jul, 2014</span>
                                </div>
                            </a>

                        </div>
                    </div>
                    </div>
                </div><!-- END Listed ITEMS -->

    <!-- END: View. -->
    </div>


<script class="ng-scope">
    //TODO: put all this in a separate js file and load it after angular HTML rendering
    //Set url
    function resetDisqus() {
        DISQUS.reset({
            reload: true,
            config: function () {
                this.page.identifier = window.location.href;
                this.page.url = window.location.href;
            }
        });
        //scoll to top after clicking link
        $('html,body').animate({scrollTop: $('html').offset().top}, 'slow');
    };

    $(document).ready(function(){

        //Wait untill angular renders HTML
        setTimeout(function(){

            //remove suggested item, if it's already showing
            $('.item').each(function(){
                if($(this).attr('title') == $('.title > h1').html()) {
                    $(this).parent().addClass('hide');
                }
            });
            //stretch info content if no suggested item aside
            if($('.item').length == 1 && $('.item').attr('href') == window.location.hash) {
                $('.video-content > .row > div').css({'width' : '100%'});
                $('.aside').remove();
            }
            //Add class class to clicked item and remove the last added hide class
            $('.item').on('click', function() {
                $('.item').parent().removeClass('hide');
                $(this).parent().addClass('hide');
            });

        }, 10);

    });

</script></div>
                        </div>

                    </div>
                </div>

            </div>

            <!--
            <div class="m-tabs">
                <a href="#/videos/{{ category.id }}/{{ video.id }}" ng-class="{ on: ( subview == 'background' ) }">Background</a>
                <a href="#/videos/{{ category.id }}/{{ video.id }}/intro" ng-class="{ on: ( subview == 'intro' ) }">intro</a>
                <a href="#/videos/{{ category.id }}/{{ video.id }}/history" ng-class="{ on: ( subview == 'history' ) }">History</a>
            </div>
            -->

            <!-- Include View Content.

            <div ng-switch="subview" class="m-tab-pane">
                <div ng-switch-when="background" ng-include=" 'assets/app/views/videos/detail/background.htm' "></div>
                <div ng-switch-when="intro" ng-include=" 'assets/app/views/videos/detail/intro.htm' "></div>
                <div ng-switch-when="medicalHistory" ng-include=" 'assets/app/views/videos/detail/history.htm' "></div>
            </div>
            -->

            <!-- Include Random video.
            <div ng-include=" 'assets/app/views/videos/detail/random.htm' "></div>
            -->
        </div>

        <div class="wrap-bottom">

            <div class="container">
                <h2> <strong>Comentarios</strong> sobre este tema</h2>
                <dir-disqus disqus-shortname="temasdevanguardia" disqus-identifier="Claves para ser un Comunicador de Excelencia" disqus-title="Claves para ser un Comunicador de Excelencia" disqus-url="http://work.folder/tdv/#!/videos/skills/11" readytobind="true" class="ng-isolate-scope ng-scope"><div id="disqus_thread"><iframe id="dsq-2" data-disqus-uid="2" allowtransparency="true" frameborder="0" tabindex="0" title="Disqus" style="width: 100% !important; border-top-style: none !important; border-right-style: none !important; border-bottom-style: none !important; border-left-style: none !important; border-width: initial !important; border-color: initial !important; overflow-x: hidden !important; overflow-y: hidden !important; height: 444px !important; " width="100%" src="http://disqus.com/embed/comments/?base=default&amp;disqus_version=c40f9aae&amp;f=temasdevanguardia&amp;t_i=Claves%20para%20ser%20un%20Comunicador%20de%20Excelencia&amp;t_u=http%3A%2F%2Fwork.folder%2Ftdv%2F%23!%2Fvideos%2Fskills%2F11&amp;t_e=Claves%20para%20ser%20un%20Comunicador%20de%20Excelencia&amp;t_d=Desarrollo%20de%20Habilidades&amp;t_t=Claves%20para%20ser%20un%20Comunicador%20de%20Excelencia&amp;s_o=default#2" scrolling="no" horizontalscrolling="no" verticalscrolling="no"></iframe></div></dir-disqus>


            </div>

        </div>


    </div>
	</div>
	<!-- END: View. -->


</div></div>
		<!-- ngSwitchWhen: list -->
	</div>
	

</div></div></div></div><div ng-include=" 'assets/app/views/layouts/_footer.html' "><footer class="l-footer ng-scope"><div class="container"><div class="row"><div class="social col-sm-4"><ul class="nav"><li><a href="https://www.facebook.com/IntrasRD" class="fa fa-stack-2x fa-facebook" target="_blank" title="visitenos en Facebook"></a></li><li><a href="http://www.linkedin.com/company/intras" class="fa fa-stack-2x fa-linkedin" target="_blank" title="visitenos en linkedin"></a></li><li><a href="https://twitter.com/IntrasRD" class="fa fa-stack-2x fa-twitter" target="_blank" title="visitenos en twitter"></a></li></ul></div><div class="col-sm-8"><div class="footer-nav"><a class="f-logo" href="http://www.intras.com.do" target="_blank"><img src="assets/app/img/logo-Intras-white.png" width="150"></a><ul class="nav"><li ng-class="{ on: ( subview== 'videos' ) }" class="on"><a href="#!/categories">Categorías</a></li><li ng-class="{ on: ( subview== 'about' ) }"><a href="#!/about">Sobre Nosotros</a></li><li ng-class="{ on: ( subview== 'contact' ) }"><a href="#!/contact">Contáctenos</a></li><li><a href="http://www.intras.com.do" target="_blank">Ir a INTRAS</a></li></ul></div></div></div></div><div class="copyright"><div class="container"><p class="ng-binding">© 2014 INTRAS, Inc. All rights reserved.</p></div></div></footer></div></div></div>
	</div>


	<!-- ### JavaScript Modules. ### -->


	<!-- Load vendor scripts. -->


    <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="assets/vendor/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="assets/vendor/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="assets/vendor/modernizr/modernizr.custom.76222.js"></script>
	<script type="text/javascript" src="assets/vendor/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="assets/vendor/bootstrap/ui-bootstrap.min.js"></script>

	<!-- Load AngularJS application module. -->
	<script type="text/javascript" src="assets/app/main.js"></script>

	<!-- Load Controllers.-->
    <script type="text/javascript" src="assets/app/controllers/contact/contact-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/about/about-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/home/home-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/layouts/splash-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/layouts/standard-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/categories-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/detail/detail-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/detail/random-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/list-controller.js"></script>
    <script type="text/javascript" src="assets/app/controllers/videos/related-list-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/videos-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/app-controller.js"></script>

	<!-- Load Services. -->
	<script type="text/javascript" src="assets/app/services/category-service.js"></script>
	<script type="text/javascript" src="assets/app/services/lodash.js"></script>
	<script type="text/javascript" src="assets/app/services/video-service.js"></script>
	<script type="text/javascript" src="assets/app/services/request-context.js"></script>
	
	<!-- Load Beans. -->
	<script type="text/javascript" src="assets/app/beans/render-context.js"></script>

    <!-- Load Directives. -->
    <script type="text/javascript" src="assets/app/directives/dirDisqus.js"></script>
    <script type="text/javascript" src="assets/app/directives/viewhead.js"></script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-27513281-2', 'auto');
        ga('send', 'pageview');
    </script>

</body></html>
