<html ng-app="tdvApp" ng-controller="AppController" class="js hashchange cssanimations csstransforms no-csstransforms3d csstransitions no-video ng-scope"><head>
    <meta charset="utf-8">
    <meta lang="es">
    <meta name="fragment" content="!">
    <link rel="shortcut icon" href="assets/app/img/favicon.png">
    <meta name="description" content="">
    <meta name="author" content="Novel Martinez">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title ng-bind="windowTitle" class="ng-binding">Mercadeo y Comunicaciones</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,100,300,300italic,700">
    <link rel="stylesheet" type="text/css" href="assets/app/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/app/css/main.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}ng\:form{display:block;}</style><link view-head="" rel="canonical" href="/#!/videos/market/23"><meta view-head="" property="og:image" content="http://temasdevanguardia.com/assets/app/img/pics/gking-23.jpg"><meta view-head="" property="og:title" content="[VIDEO] Hacia una Gestión Estratégica de Marketing"><meta view-head="" property="og:description" content="En este video el facilitador Gustavo King nos habla sobre las bases fundamentales para lograr una gestión estratégica de marketing que permitan alcanzar los objetivos propuestos por la alta dirección."><script type="text/javascript" async="" src="//temasdevanguardia.disqus.com/embed.js"></script></head>
<body><p style="background: green;margin: 0 auto;padding: 5px;color: white;text-align:center;box-shadow: 0 -3px 3px rgba(0,0,0,.2) inset;text-align: center;">Escaped Fragment</p>

	<div ng-switch="subview">
		<!--
			Show while the AngularJS app is loading.
		-->
		<!-- ngSwitchWhen: loading -->
		<!-- Core layouts.-->
		<!-- ngSwitchWhen: splash -->
		<!-- ngSwitchWhen: standard --><div ng-switch-when="standard" ng-include=" 'assets/app/views/layouts/standard.html' " class="ng-scope">
<div ng-controller="layouts.StandardController" class="l-standard ng-scope">


	<!-- BEGIN: Layout Container. -->
	<div class="l-container">

        <!-- Layout Header. -->
        <div ng-include=" 'assets/app/views/layouts/_header.html' "><!-- BEGIN: Layout Header. -->
<header class="l-header ng-scope">
    <nav class="navbar navbar-default">
        <div class="container">
           <div class="row">
                <div class="navbar-header col-sm-3 col-xs-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                        <span class="fa fa-2x fa-bars"></span>
                    </button>
                    <div id="logo">
                        <a href="#!/home"><img src="/assets/app/img/logo-tdv.png" alt="Intras Logo"></a>
                    </div>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="col-sm-9 col-xs-12">


                    <div class="collapse navbar-collapse" collapse="isCollapsed" style="height: 0px; ">
                        <ul class="nav navbar-nav nav-top navbar-right">
                            <li ng-class="{ on: ( subview == 'videos' ) }" class="on">
                                <a href="#!/categories">Categorías</a>
                            </li>
                            <li ng-class="{ on: ( subview == 'about' ) }">
                                <a href="#!/about">Sobre Nosotros</a>
                            </li>
                            <li ng-class="{ on: ( subview == 'contact' ) }">
                                <a href="#!/contact">Contáctenos</a>
                            </li>
                            <li>
                                <a href="http://www.intras.com.do" target="_blank">Ir a INTRAS</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                </div>
           </div>
        </div><!-- /.container-fluid -->
    </nav>
</header>
<!-- END: Layout Header. --></div>

		<!-- BEGIN: Layout Header. -->


		<!-- Include Body Content. -->
		<div ng-switch="subview">
			<!-- ngSwitchWhen: about -->
            <!-- ngSwitchWhen: contact -->
			<!-- ngSwitchWhen: home -->
			<!-- ngSwitchWhen: videos --><div ng-switch-when="videos" ng-include=" 'assets/app/views/videos/index.htm' " class="ng-scope">
<div ng-controller="videos.videosController" class="ng-scope">


	<!-- Include View Content. -->
	<div ng-switch="subview">
		<!-- ngSwitchWhen: categories -->
		<!-- ngSwitchWhen: detail --><div ng-switch-when="detail" ng-include=" 'assets/app/views/videos/detail/index.htm' " class="ng-scope">
<div ng-controller="videos.detail.DetailController" ng-switch="isLoading" class="ng-scope">


	<!-- BEGIN: Loading Sequence. -->
	<!-- ngSwitchWhen: true -->
	<!-- END: Loading Sequence. -->


	<!-- BEGIN: View. -->
	<!-- ngSwitchWhen: false --><div ng-switch-when="false" data-status="ready" class="ng-scope">

    <!-- HEAD DEFINITIONS-->
    
    
    
    
    <!-- END: HEAD DEFINITIONS. -->

    <div class="l-video">

        <div class="breadcrumb">
            <div class="container">
                <a ng-href="#!/categories/" href="#!/categories/">Categorías</a> /
                <a class="market color" href="#!/videos/market">Mercadeo y Comunicaciones</a> /
                <span class="disabled">Video</span>
            </div>
        </div>
        <div class="wrap-top">
            <div class="container">
                <div class="row">
                    <div class="text-center video">
                         <div class="poster" onclick="thevid=document.getElementById('thevideo'); thevid.style.display='block'; this.style.display='none'">
                             <a class="fa fa-play fa-4x"></a>
                             <img ng-src="assets/app/img/pics/gking-23.jpg" src="assets/app/img/pics/gking-23.jpg">
                         </div>

                        <!-- GET VIDEO -->
                        <div id="thevideo" style="display: none;">
                            <object width="100%" height="420" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
                                <param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always">
                                <param name="src" value="http://www.youtube.com/v/O8TZT9I8izk&amp;feature=youtube_gdata_player?version=3&amp;hl=en_US&amp;autoplay=1">
                                <param name="allowfullscreen" value="true">
                                <embed width="100%" height="420" type="application/x-shockwave-flash" src="http://www.youtube.com/v/O8TZT9I8izk&amp;feature=youtube_gdata_player?version=3&amp;hl=en_US&amp;autoplay=1" allowfullscreen="true" allowscriptaccess="always">
                            </object>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container title">
            <div class="speaker">
                <p class="ng-binding">Gustavo King</p>
            </div>
            <h1 class="ng-binding">Hacia una Gestión Estratégica de Marketing</h1>
        </div>

        <div class="use">
            <div class="container">
                <div class="share">

                    <p class="title"><span>Compartir&nbsp;</span><span>este Video</span></p>

                    <a class="fa fa-stack fa-facebook" href="/a/jump/to?u=http%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttp%3A%2F%2Fwww.temasdevanguardia.com%2F%23!%2Fvideos%2Fmarket%2F23" onclick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.temasdevanguardia.com%2F%23!%2Fvideos%2Fmarket%2F23&amp;src=sp','popup','width=500,height=500,scrollbars=no,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0'); return false" rel="title[Temas De Vanguardia];caption[Top Leaders' Summit 2014];group[nature] follow"></a>

                    <a class="fa fa-stack fa-twitter" href="https://twitter.com/home?status=%5BVIDEO%5D Hacia una Gestión Estratégica de Marketing %23TDV%20http://www.temasdevanguardia.com/%23!/videos/market%2F23" onclick="window.open(this.href,'win2','width=500,height=350,menubar=yes,resizable=yes'); return false;"></a>

                    <a class="fa fa-stack fa-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.temasdevanguardia.com/%23!/videos/market&amp;title=%5BVIDEO%5D Hacia una Gestión Estratégica de Marketing&amp;summary=En este video el facilitador Gustavo King nos habla sobre las bases fundamentales para lograr una gestión estratégica de marketing que permitan alcanzar los objetivos propuestos por la alta dirección.&amp;source=INTRAS" onclick="window.open(this.href,'win2','width=500,height=350,menubar=yes,resizable=yes'); return false;"></a>


                   <!-- <div share-square="true" share-links="facebook" share-title="{{ video.items.title }}"></div> -->
                </div>
                <div class="download">
                    <p class="title"><span>Descargar&nbsp;</span><span>este Video</span></p>
                    <a class="fa fa-stack fa-download" href="assets/downloads/videos/gking-23.mp4" download=""></a>
                </div>
                <div class="views">
                    <p class="title"><span>Cantidad&nbsp;</span><span>de Vistas</span></p>
                    <span class="ng-binding">1</span>
                </div>
            </div>
        </div>

       <!-- NEW VIDEO EMBED IDEA

        <section id="head">
            <div id="container" class="click-to-play-video inactive-state">
                <div id="player" class="home-player"></div>
            </div>
        </section>

        <style type="text/css">
            #head {
                background-color: #aaa;
                width:100%;
            }
            #container {
                cursor:pointer;
                width:320px;
                height:180px;

                margin:auto;
                position:relative;
            }

            .inactive-state {
                background-repeat: no-repeat;
                background-size: 100%;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAAAwCAIAAADvrqHkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVxJREFUeNpivD5DnmEEAyaGkQ1G/T/q/1H/j/p/1P+j/h/1/6j/RxpgoZ3RGmn3qWXUjVmKo/E/1OKfKlFHxUQ0iOKfU8xgRJd/0m4zOUR0R67/WbjEZDxmD4YgGLDyj4VLHBQEonojt/4HBYE7MAh0R6j/oRnBbRaHiM7Ibf+xcEuAUsEAlQWDov0DDIKBqhEGS/uPlUdSxn0W/YNgELV/QRnBYzafSsDI7f8BawReJc9h1f4nCXy4vvzt+Skj1P8fb615ebTu/78/IzH9f7y56sWhCjp7frDE/4drS16eaP3/7+9IrP+Aef7Vifb/f34MTIk7wMn+9nr65/nB4n9ggff8YDnD/38DWeMOYJ5/daJtYD0/YPkflOdPdf37833AS5+B8f+bsxP//fo8KFqctLaA1gO4w6r9T3/AOLr+iWHU/6P+H/X/qP9H/T/q/1H/j/p/1P8jBwAEGAAZsV2KaXSD7AAAAABJRU5ErkJggg==');
            }
            .hover-state {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAAAwCAIAAADvrqHkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAU1JREFUeNrsmV1qwkAUhVOJ9b8PUZ+UFp+MW+iLuo8uzAW4FhFEBREsWsVSQZO2oM/WGYdB360k3jH33AVM8p0758yd5GHSerEYV8ziXeAHP/jBD37wgx/83MoOb2n39S2opd47bfT/3vofSOsC3EQG9T+VK7DOv1K1nsw6fPntx1TZbZogAVn+nSXI8z3/tQQNWgmIzz8tQT2ZcZjyawnS5VqDKguMmH+UBKUqjQSmzH/xRFpngcOU/2QEt/lUrPC9/6k4zOWfIzX//6u23ux3NWbKv/Pn3qInpeDIr+A3866UMmr334u2/WbqLfu3hzci/5Tn/c+BFAeaxCXe9t+L23veFH7l+fVH17Ik4TvYhJ73lwNaeDL/a88PhfgjTx8a/p+vkTjsjZg4w35A2B9wIzX/R6r/4f20Qf/BD37wgx/84Ac/+MF/ZR0FGAAHJFtR2l1ELgAAAABJRU5ErkJggg==');
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {

                $("#container").mouseenter(function(){
                    $(this).addClass('hover-state');
                }).mouseleave(function(){
                    $(this).removeClass('hover-state');
                });

                $("#container.click-to-play-video").click(function(){
                    $('#head').css({"background-color":"black"});

                    player = new YT.Player('player', {
                        width : '320',
                        height : '180',
                        videoId : 'qlEUrEVqDbo',
                        playerVars: { 'autoplay': 1 },
                        events : {
                            'onReady' : onPlayerReady,
                            'onStateChange' : onPlayerStateChange
                        }
                    });
                });

                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                var player;
                function onPlayerReady(event) {
                    //event.target.playVideo();
                }
                function onPlayerStateChange(event) {
                    if(event.data == YT.PlayerState.ENDED) {
                        player.destroy();
                        $('#head').css({"background-color":"#aaa"});
                    }
                }

            });
        </script>
        -->
        <div class="wrap">
            <div class="container video-content">
                <div class="row">
                    <div class="col-sm-8 col-xs-12">

                        <div class="description">
                            <p id="title" class="ng-binding">Toda empresa, sin importar su tamaño o el sector en que se desenvuelva, debe establecer de manera clara y precisa las estrategias de Marketing a seguir, esto es aquellas acciones, ofensivas o defensivas, que le permitan crear una posición dentro de la industria y a la vez obtener un importante rendimiento sobre la inversión. Una buena estrategia de marketing integrará los objetivos de Marketing de la empresa, las políticas, las secuencias de acción (tácticas) dentro de un todo coherente, con el objetivo final de poner la empresa en posición de llevar a cabo su misión de forma efectiva y eficiente. Estas estrategias de Marketing desempeñan un papel fundamental como frontera entre la empresa y sus clientes, así como con sus competidores. De ahí la importancia de que todo profesional del área de Marketing cuente con las herramientas, domine los conceptos y tenga los conocimientos necesarios para poder implantarlas exitosamente.</p>
                            <p class="ng-binding">En este video el facilitador Gustavo King nos habla sobre las bases fundamentales para lograr una gestión estratégica de marketing que permitan alcanzar los objetivos propuestos por la alta dirección.</p>
                        </div>
                        <div class="more" ng-show="video.article || video.events" style="display: none; ">
                            <div ng-show="video.events" style="display: none; ">
                                <span class="logo intras"></span>
                                <p>
                                    Ver seminarios de este facilitador <a href="" target="_blank">aquí</a>
                                </p>
                            </div>
                            <div ng-show="video.article" style="display: none; ">
                                <span class="logo gestion"></span>
                                <p>
                                    Ver artículos de este facilitador <a href="" target="_blank">aquí</a>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="aside">
                            <h3>Videos <strong>Relacionados</strong></h3>
                            <div ng-include=" 'assets/app/views/videos/detail/related-list.htm' ">
<div ng-controller="videos.RelatedListController" ng-switch="isLoading" class="ng-scope">


    <!-- BEGIN: Loading Sequence. -->
    <!-- ngSwitchWhen: true -->
    <!-- END: Loading Sequence. -->


    <!-- BEGIN: View. -->
    <!-- ngSwitchWhen: false --><div ng-switch-when="false" class="category-list related ng-scope">


                <div class="listed-items">
                    <div class="row">
                        <!-- ngRepeat: video in videos | orderBy:'items.uploaded' --><div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-xs-6 ng-scope">

                            <a class="item" href="#!/videos/market/13" title="Las Claves de Éxito en la Era del Consumidor 2.0" onclick="resetDisqus()">

                                <div class="thumb">
                                    <span class="see-more">+</span>
                                    <div class="overlay"></div>
                                    <img width="180" ng-src="assets/app/img/pics/smoschini-13.jpg" alt="Imagen de Silvina Moschini" src="assets/app/img/pics/smoschini-13.jpg">
                                </div>

                                <h4 class="speaker ng-binding">Silvina Moschini</h4>
                                <h4 class="title ng-binding">Las Claves de Éxito en la Era del Consumidor 2.0</h4>
                                <div class="details">
                                    <span class="views ng-binding">Vistas 5</span>
                                    <span class="date ng-binding">Jun, 2014</span>
                                </div>
                            </a>

                        </div><div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-xs-6 ng-scope">

                            <a class="item" href="#!/videos/market/14" title="Claves para Integrar Exitosamente y Maximizar el Mix de Medios Digitales" onclick="resetDisqus()">

                                <div class="thumb">
                                    <span class="see-more">+</span>
                                    <div class="overlay"></div>
                                    <img width="180" ng-src="assets/app/img/pics/jhernandez-14.jpg" alt="Imagen de Jesús Hernandez" src="assets/app/img/pics/jhernandez-14.jpg">
                                </div>

                                <h4 class="speaker ng-binding">Jesús Hernandez</h4>
                                <h4 class="title ng-binding">Claves para Integrar Exitosamente y Maximizar el Mix de Medios Digitales</h4>
                                <div class="details">
                                    <span class="views ng-binding">Vistas 8</span>
                                    <span class="date ng-binding">Jun, 2014</span>
                                </div>
                            </a>

                        </div><div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-xs-6 ng-scope hide">

                            <a class="item" href="#!/videos/market/23" title="Hacia una Gestión Estratégica de Marketing" onclick="resetDisqus()">

                                <div class="thumb">
                                    <span class="see-more">+</span>
                                    <div class="overlay"></div>
                                    <img width="180" ng-src="assets/app/img/pics/gking-23.jpg" alt="Imagen de Gustavo King" src="assets/app/img/pics/gking-23.jpg">
                                </div>

                                <h4 class="speaker ng-binding">Gustavo King</h4>
                                <h4 class="title ng-binding">Hacia una Gestión Estratégica de Marketing</h4>
                                <div class="details">
                                    <span class="views ng-binding">Vistas 1</span>
                                    <span class="date ng-binding">Jun, 2014</span>
                                </div>
                            </a>

                        </div><div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-xs-6 ng-scope">

                            <a class="item" href="#!/videos/market/20" title="Bases para una Comunicación Efectiva en Marketing" onclick="resetDisqus()">

                                <div class="thumb">
                                    <span class="see-more">+</span>
                                    <div class="overlay"></div>
                                    <img width="180" ng-src="assets/app/img/pics/ljdonaher-20.jpg" alt="Imagen de Lino Jorge Donaher" src="assets/app/img/pics/ljdonaher-20.jpg">
                                </div>

                                <h4 class="speaker ng-binding">Lino Jorge Donaher</h4>
                                <h4 class="title ng-binding">Bases para una Comunicación Efectiva en Marketing</h4>
                                <div class="details">
                                    <span class="views ng-binding">Vistas 4</span>
                                    <span class="date ng-binding">Jun, 2014</span>
                                </div>
                            </a>

                        </div>
                    </div>
                    </div>
                </div><!-- END Listed ITEMS -->

    <!-- END: View. -->
    </div>


<script class="ng-scope">
    //TODO: put all this in a separate js file and load it after angular HTML rendering
    //Set url
    function resetDisqus() {
        DISQUS.reset({
            reload: true,
            config: function () {
                this.page.identifier = window.location.href;
                this.page.url = window.location.href;
            }
        });
        //scoll to top after clicking link
        $('html,body').animate({scrollTop: $('html').offset().top}, 'slow');
    };

    $(document).ready(function(){

        //Wait untill angular renders HTML
        setTimeout(function(){

            //remove suggested item, if it's already showing
            $('.item').each(function(){
                if($(this).attr('title') == $('.title > h1').html()) {
                    $(this).parent().addClass('hide');
                }
            });
            //stretch info content if no suggested item aside
            if($('.item').length == 1 && $('.item').attr('href') == window.location.hash) {
                $('.video-content > .row > div').css({'width' : '100%'});
                $('.aside').remove();
            }
            //Add class class to clicked item and remove the last added hide class
            $('.item').on('click', function() {
                $('.item').parent().removeClass('hide');
                $(this).parent().addClass('hide');
            });

        }, 10);

    });

</script></div>
                        </div>

                    </div>
                </div>

            </div>

            <!--
            <div class="m-tabs">
                <a href="#/videos/{{ category.id }}/{{ video.id }}" ng-class="{ on: ( subview == 'background' ) }">Background</a>
                <a href="#/videos/{{ category.id }}/{{ video.id }}/intro" ng-class="{ on: ( subview == 'intro' ) }">intro</a>
                <a href="#/videos/{{ category.id }}/{{ video.id }}/history" ng-class="{ on: ( subview == 'history' ) }">History</a>
            </div>
            -->

            <!-- Include View Content.

            <div ng-switch="subview" class="m-tab-pane">
                <div ng-switch-when="background" ng-include=" 'assets/app/views/videos/detail/background.htm' "></div>
                <div ng-switch-when="intro" ng-include=" 'assets/app/views/videos/detail/intro.htm' "></div>
                <div ng-switch-when="medicalHistory" ng-include=" 'assets/app/views/videos/detail/history.htm' "></div>
            </div>
            -->

            <!-- Include Random video.
            <div ng-include=" 'assets/app/views/videos/detail/random.htm' "></div>
            -->
        </div>

        <div class="wrap-bottom">

            <div class="container">
                <h2> <strong>Comentarios</strong> sobre este tema</h2>
                <dir-disqus disqus-shortname="temasdevanguardia" disqus-identifier="Hacia una Gestión Estratégica de Marketing" disqus-title="Hacia una Gestión Estratégica de Marketing" disqus-url="http://work.folder/tdv/#!/videos/market/23" readytobind="true" class="ng-isolate-scope ng-scope"><div id="disqus_thread"></div><a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a></dir-disqus>


            </div>

        </div>


    </div>
	</div>
	<!-- END: View. -->


</div></div>
		<!-- ngSwitchWhen: list -->
	</div>
	

</div></div>
		</div>


	</div>
	<!-- END: Layout Container. -->

    <!-- Layout Footer. -->
    <div ng-include=" 'assets/app/views/layouts/_footer.html' "><footer class="l-footer ng-scope">
    <div class="container">
        <div class="row">

            <div class="social col-sm-4">
                <ul class="nav">
                    <li><a href="https://www.facebook.com/IntrasRD" class="fa fa-stack-2x fa-facebook" target="_blank" title="visitenos en Facebook"></a></li>
                    <li><a href="http://www.linkedin.com/company/intras" class="fa fa-stack-2x fa-linkedin" target="_blank" title="visitenos en linkedin"></a></li>
                    <li><a href="https://twitter.com/IntrasRD" class="fa fa-stack-2x fa-twitter" target="_blank" title="visitenos en twitter"></a></li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="footer-nav">
                    <a class="f-logo" href="http://www.intras.com.do" target="_blank"><img src="assets/app/img/logo-Intras-white.png" width="150"></a>
                    <ul class="nav">
                        <li ng-class="{ on: ( subview == 'videos' ) }" class="on">
                            <a href="#!/categories">Categorías</a>
                        </li>
                        <li ng-class="{ on: ( subview == 'about' ) }">
                            <a href="#!/about">Sobre Nosotros</a>
                        </li>
                        <li ng-class="{ on: ( subview == 'contact' ) }">
                            <a href="#!/contact">Contáctenos</a>
                        </li>
                        <li>
                            <a href="http://www.intras.com.do" target="_blank">Ir a INTRAS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p class="ng-binding">© 2014 INTRAS, Inc. All rights reserved.</p>
        </div>
    </div>
</footer>
</div>



</div></div>
	</div>


	<!-- ### JavaScript Modules. ### -->


	<!-- Load vendor scripts. -->
	<script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="assets/vendor/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="assets/vendor/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="assets/vendor/modernizr/modernizr.custom.76222.js"></script>
	<script type="text/javascript" src="assets/vendor/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="assets/vendor/bootstrap/ui-bootstrap.min.js"></script>

	<!-- Load AngularJS application module. -->
	<script type="text/javascript" src="assets/app/main.js"></script>

	<!-- Load Controllers.-->
    <script type="text/javascript" src="assets/app/controllers/contact/contact-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/about/about-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/home/home-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/layouts/splash-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/layouts/standard-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/categories-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/detail/detail-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/detail/random-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/list-controller.js"></script>
    <script type="text/javascript" src="assets/app/controllers/videos/related-list-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/videos/videos-controller.js"></script>
	<script type="text/javascript" src="assets/app/controllers/app-controller.js"></script>

	<!-- Load Services. -->
	<script type="text/javascript" src="assets/app/services/category-service.js"></script>
	<script type="text/javascript" src="assets/app/services/lodash.js"></script>
	<script type="text/javascript" src="assets/app/services/video-service.js"></script>
	<script type="text/javascript" src="assets/app/services/request-context.js"></script>
	
	<!-- Load Beans. -->
	<script type="text/javascript" src="assets/app/beans/render-context.js"></script>

    <!-- Load Directives. -->
    <script type="text/javascript" src="assets/app/directives/dirDisqus.js"></script>
    <script type="text/javascript" src="assets/app/directives/viewhead.js"></script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-27513281-2', 'auto');
        ga('send', 'pageview');
    </script>

</body></html>
