
<div ng-controller="videos.detail.DetailController" ng-switch="isLoading">

	<!-- BEGIN: Loading Sequence. -->
	<div ng-switch-when="true">

        <div class="loading">
            <p>Loading....</p>
        </div>

	</div>
	<!-- END: Loading Sequence. -->


	<!-- BEGIN: View. -->
	<div ng-switch-when="false" data-status="{{ status }}">

    <!-- HEAD DEFINITIONS-->
    <link view-head rel="canonical" href="{{hash}}" />

    <meta view-head property="og:image" content="http://temasdevanguardia.com/assets/app/img/pics/{{video.filesName}}.jpg" />
    <meta view-head property="og:title" content="[VIDEO] {{ video.items.title }}">
    <meta view-head property="og:description" content="{{ video.descriptionShort }}" />
    <meta view-head property="og:url" content="http://temasdevanguardia.com/#!/videos/{{category.id}}/{{video.id}}" />
    <!-- END: HEAD DEFINITIONS. -->

    <div class="l-video">

        <div class="breadcrumb">
            <div class="container">
                <a ng-href="#!/home">Inicio</a> /
                <a ng-href="#!/categories/">Categorías</a> /
                <a class="{{ category.id }} color" href="#!/videos/{{ category.id }}">{{ category.name }}</a> /
                <span class="disabled">Video</span>
            </div>
        </div>
        <div class="wrap-top">
            <div class="container">
                <div class="row">
                    <div class="text-center video">
                        <!-- GET POSTER
                        <div class="poster" onclick="thevid=document.getElementById('thevideo'); thevid.style.display='block'; this.style.display='none'">
                            <a class="fa fa-play fa-4x"></a>
                            <img ng-src="assets/app/img/pics/{{video.filesName}}.jpg" />
                        </div>  -->

                       <!-- GET VIDEO
                       <div id="thevideo">
                           <object width="100%" height="420" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
                               <param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" />
                               <param name="src" value="http://www.youtube.com/v/{{video.items.id}}&feature=youtube_gdata_player?version=3&amp;hl=en_US&amp;autoplay=1" />
                               <param name="allowfullscreen" value="true" />
                               <embed width="100%" height="420" type="application/x-shockwave-flash" src="http://www.youtube.com/v/{{video.items.id}}&feature=youtube_gdata_player?version=3&amp;hl=en_US&amp;autoplay=1" allowFullScreen="true" allowscriptaccess="always" allowfullscreen="true" />
                           </object>
                       </div>
                       -->
                       <iframe width="100%" height="420" src="http://www.youtube.com/embed/{{video.items.id}}?autoplay=1" frameborder="0"></iframe>

                    </div>
                </div>
            </div>
        </div>

        <div class="container title">
            <div class="speaker">
                <p>{{ video.speaker }}</p>
            </div>
            <h1>{{ video.items.title }}</h1>
        </div>

        <div class="use">
            <div class="container">
                <div class="share">

                    <p class="title"><span>Compartir&nbsp;</span><span>este Video</span></p>

                    <a class="fa fa-stack fa-facebook" href="/a/jump/to?u=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttp%3A%2F%2Fwww.temasdevanguardia.com%2F%3F_escaped_fragment_%3D%2Fvideos%2F{{ category.id }}%2F{{video.id}}" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.temasdevanguardia.com%2F%3F_escaped_fragment_%3D%2Fvideos%2F{{category.id}}%2F{{video.id}}','popup','width=500,height=500,scrollbars=no,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0'); return false" rel="title[Temas De Vanguardia];caption[Top Leaders' Summit 2014];group[nature] follow"></a>

                    <a class="fa fa-stack fa-twitter" href="https://twitter.com/home?status=%5BVIDEO%5D {{ video.items.title }} %23TDV%20http://www.temasdevanguardia.com/%23!/videos/{{ category.id }}%2F{{video.id}}" onclick="window.open(this.href,'win2','width=500,height=350,menubar=yes,resizable=yes'); return false;"></a>

                    <a class="fa fa-stack fa-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.temasdevanguardia.com/%23!/videos/{{ category.id }}&amp;title=%5BVIDEO%5D {{ video.items.title }}&summary={{ video.descriptionShort }}&amp;source=INTRAS" onclick="window.open(this.href,'win2','width=500,height=350,menubar=yes,resizable=yes'); return false;"></a>


                   <!-- <div share-square="true" share-links="facebook" share-title="{{ video.items.title }}"></div> -->
                </div>

                <div class="download">
                    <p class="title"><span>Descargar&nbsp;</span><span>este Video</span></p>
                    <a class="fa fa-stack fa-download" href="assets/downloads/videos/{{video.filesName}}.mp4" download></a>
                </div>


                <script src="//platform.linkedin.com/in.js" type="text/javascript">
                    lang: en_US
                </script>
                <script type="IN/Share" data-url="http://www.temasdevanguardia.com"></script>

                <div class="views">
                    <p class="title"><span>Cantidad&nbsp;</span><span>de Vistas</span></p>
                    <span>{{ video.items.viewCount || '0' }}</span>
                </div>
            </div>
        </div>

        <div class="wrap">
            <div class="container video-content">
                <div class="row">
                    <div class="col-sm-8 col-xs-12">

                        <div class="description">
                            <p id="title">{{ video.intro }}</p>
                            <p>{{ video.descriptionShort }}</p>
                        </div>
                        <div class="more" ng-show="video.article || video.events">
                            <div ng-show="video.events">
                                <span class="logo intras"></span>
                                <p>
                                    Ver seminarios de este facilitador <a href="{{video.events}}" target="_blank">aquí</a>
                                </p>
                            </div>
                            <div ng-show="video.article">
                                <span class="logo gestion"></span>
                                <p>
                                    Ver artículos de este facilitador <a href="{{video.article}}" target="_blank">aquí</a>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="aside">
                            <h3>Videos <strong>Relacionados</strong></h3>
                            <div ng-include=" 'assets/app/views/videos/detail/related-list.htm' "></div>
                        </div>

                    </div>
                </div>

            </div>

            <!--
            <div class="m-tabs">
                <a href="#/videos/{{ category.id }}/{{ video.id }}" ng-class="{ on: ( subview == 'background' ) }">Background</a>
                <a href="#/videos/{{ category.id }}/{{ video.id }}/intro" ng-class="{ on: ( subview == 'intro' ) }">intro</a>
                <a href="#/videos/{{ category.id }}/{{ video.id }}/history" ng-class="{ on: ( subview == 'history' ) }">History</a>
            </div>
            -->

            <!-- Include View Content.

            <div ng-switch="subview" class="m-tab-pane">
                <div ng-switch-when="background" ng-include=" 'assets/app/views/videos/detail/background.htm' "></div>
                <div ng-switch-when="intro" ng-include=" 'assets/app/views/videos/detail/intro.htm' "></div>
                <div ng-switch-when="medicalHistory" ng-include=" 'assets/app/views/videos/detail/history.htm' "></div>
            </div>
            -->

            <!-- Include Random video.
            <div ng-include=" 'assets/app/views/videos/detail/random.htm' "></div>
            -->
        </div>

        <div class="wrap-bottom">

            <div class="container">
                <h2> <strong>Comentarios</strong> sobre este tema</h2>
                <dir-disqus disqus-shortname="temasdevanguardia"
                            disqus-identifier={{video.items.title}}
                            disqus-title={{video.items.title}}
                            disqus-url='http://work.folder/tdv/#!/videos/{{ category.id }}/{{ video.id }}' readytobind="true">
                </dir-disqus>


            </div>

        </div>


    </div>
	</div>
	<!-- END: View. -->


</div>