
<div ng-controller="videos.detail.RandomController" ng-switch="isLoading">


	<!-- BEGIN: View. -->
	<div ng-switch-when="false" class="m-random-video">

		You may also be interested in,
		<a href="#/videos/{{ categoryID }}/{{ video.id }}">{{ video.speaker }} - {{ video.items.title }}</a>.

	</div>
	<!-- END: View. -->
	

</div>