
<div ng-controller="videos.RelatedListController" ng-switch="isLoading">


    <!-- BEGIN: Loading Sequence. -->
    <div ng-switch-when="true">


        Loading....


    </div>
    <!-- END: Loading Sequence. -->


    <!-- BEGIN: View. -->
    <div ng-switch-when="false" class="category-list related">


                <div class="listed-items">
                    <div class="row">
                        <div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-xs-6">

                            <a class="item" ng-href="#!/videos/{{ category.id }}/{{ video.id }}" title="{{ video.items.title }}" onclick="resetDisqus()">

                                <div class="thumb">
                                    <div class="see-more"><span class="fa fa-play"></span></div>
                                    <div class="overlay"></div>
                                    <img width="180" ng-src="assets/app/img/pics/{{video.filesName}}.jpg" alt="Imagen de {{ video.speaker}}"/>
                                </div>

                                <h4 class="speaker">{{ video.speaker}}</h4>
                                <h4 class="title">{{ video.items.title }}</h4>
                                <div class="details">
                                    <span class="views">Vistas {{ video.items.viewCount}}</span>
                                    <span class="date">{{ video.items.uploaded | date : 'MMM, y'}}</span>
                                </div>
                            </a>

                        </div>
                    </div>
                    </div>
                </div><!-- END Listed ITEMS -->

    <!-- END: View. -->
    </div>
</div>

<script>
    //TODO: put all this in a separate js file and load it after angular HTML rendering
    //Set url
    function resetDisqus() {
        DISQUS.reset({
            reload: true,
            config: function () {
                this.page.identifier = window.location.href;
                this.page.url = window.location.href;
            }
        });
        //scoll to top after clicking link
        $('html,body').animate({scrollTop: $('html').offset().top}, 'slow');
    };

    $(document).ready(function(){

        //Wait untill angular renders HTML
        setTimeout(function(){

            //remove suggested item, if it's already showing
            $('.item').each(function(){
                if($(this).attr('title') == $('.title > h1').html()) {
                    $(this).parent().addClass('hide');
                }
            });
            //stretch info content if no suggested item aside
            if($('.item').length == 1 && $('.item').attr('href') == window.location.hash) {
                $('.video-content > .row > div').css({'width' : '100%'});
                $('.aside').remove();
            }
            //Add class class to clicked item and remove the last added hide class
            $('.item').on('click', function() {
                $('.item').parent().removeClass('hide');
                $(this).parent().addClass('hide');
            });

        }, 10);

    });

</script>