
<div ng-controller="videos.CategoriesController" ng-switch="isLoading">


	<!-- BEGIN: Loading Sequence. -->
	<div ng-switch-when="true">


		Loading....


	</div>
	<!-- END: Loading Sequence. -->


	<!-- BEGIN: View. -->
	<div ng-switch-when="false" data-status="{{ status }}">


            <div class="wrap-top">
                <div class="container">
                    <h1>
                        Categorías
                    </h1>

                </div>
            </div>
            <div class="wrap">

                <div class="container">
                    <div class="row">



                        <!-- List the categories. -->
                        <ul class="category-list">
                            <li ng-repeat="category in categories | orderBy:'name'" class="col-lg-3 col-sm-4 col-xs-6">
                                <a class="{{ category.id }} bg" href="#!/videos/{{ category.id }}">
                                    <span class="name">{{ category.name }}</span>
                                    <div class="caption">
                                        <p>{{ category.description }}</p>
                                    </div>
                                </a>
                            </li>
                        </ul>



                    </div>
                </div><!-- END Container -->



            </div>




	</div>
	<!-- END: View. -->


</div>