
<div ng-controller="videos.videosController">


	<!-- Include View Content. -->
	<div ng-switch="subview">
		<div ng-switch-when="categories" ng-include=" 'assets/app/views/videos/categories.htm' "></div>
		<div ng-switch-when="detail" ng-include=" 'assets/app/views/videos/detail/index.htm' "></div>
		<div ng-switch-when="list" ng-include=" 'assets/app/views/videos/list.htm' "></div>
	</div>
	

</div>