
<div ng-controller="videos.ListController" ng-switch="isLoading" class="l-list">


	<!-- BEGIN: Loading Sequence. -->
	<div ng-switch-when="loading">


		<h1>Loading....</h1>


	</div>
	<!-- END: Loading Sequence. -->


	<!-- BEGIN: View. -->
	<div ng-switch-when="false" class="category-list" data-status="{{ status }}">

        <div class="breadcrumb">
            <div class="container">
                <a ng-href="#!/">Inicio</a> /
                <a ng-href="#!/categories/">Categorías</a> /
                <span aria-disabled="true" class="disabled">{{ category.name }}</span>
            </div>
        </div>
		<div class="wrap-top {{ category.id }} gradient">
            <div class="container">

                <h1>
                    {{ category.name }}
                </h1>

            </div>

		</div>

        <div class="wrap">
            <div class="container">

                <div class="listed-items">
                    <div class="row">



                        <div class="col-sm-9 col-xs-12">

                            <div ng-repeat="video in videos | orderBy:'items.uploaded'" class="col-sm-4 col-xs-6">

                                <a class="item" href="#!/videos/{{ category.id }}/{{ video.id }}" title="{{ video.items.title }}">
                                    <div class="thumb">
                                        <div class="see-more"><span class="fa fa-play"></span></div>
                                        <div class="overlay"></div>
                                        <img width="180" ng-src="assets/app/img/pics/{{video.filesName}}.jpg" alt="Imagen de {{ video.speaker}}"/>
                                    </div>

                                    <h4 class="speaker">{{ video.speaker}}</h4>
                                    <h4 class="title">{{ video.items.title }}</h4>
                                    <div class="details">
                                        <span class="views">Vistas {{ video.items.viewCount || '0'}}</span>
                                        <span class="date">{{ video.items.uploaded | date : 'MMM, y'}}</span>
                                    </div>
                                </a>

                            </div>

                        </div>


                        <div class="col-xs-3">
                            <nav class="categories aside">
                                <h3>Otras Categorías</h3>
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        <a ng-href="#!/categories/">Todas</a>
                                    </li>
                                    <li>
                                        <a ng-class="{ on: ( category.id == 'quality' ) }"
                                           ng-click="reloadRoute('#!/videos/quality')">Calidad</a>
                                    </li>
                                    <li>
                                        <a ng-class="{ on: ( category.id == 'clients' ) }"
                                           ng-click="reloadRoute('#!/videos/clients')">Comercial y Gestión de Clientes</a>
                                    </li>
                                    <li>
                                        <a ng-class="{ on: ( category.id == 'skills' ) }"
                                           ng-click="reloadRoute('#!/videos/skills')">Desarrollo de Habilidades</a>
                                    </li>
                                    <li>
                                        <a ng-class="{ on: ( category.id == 'finance' ) }"
                                           ng-click="reloadRoute('#!/videos/finance')">Finanzas</a>
                                    </li>
                                    <li>
                                        <a ng-class="{ on: ( category.id == 'management' ) }"
                                           ng-click="reloadRoute('#!/videos/management')">Gestión Humana</a>
                                    </li>
                                    <li>
                                        <a ng-class="{ on: ( category.id == 'gurus' ) }"
                                           ng-click="reloadRoute('#!/videos/gurus')">Grandes Speakers</a>
                                    </li>
                                    <li>
                                        <a ng-class="{ on: ( category.id == 'market' ) }"
                                           ng-click="reloadRoute('#!/videos/market')">Mercadeo y Comunicaciones</a>
                                    </li>
                                    <li>
                                        <a ng-class="{ on: ( category.id == 'informatics' ) }"
                                           ng-click="reloadRoute('#!/videos/informatics')">Tecnología de Información y Sistemas</a>
                                    </li>
                                    <li>
                                        <a ng-class="{ on: ( category.id == 'others' ) }"
                                           ng-click="reloadRoute('#!/videos/others')">Otros</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>


                    </div>
                </div><!-- END Listed ITEMS -->

            </div>
        </div>




	</div>
	<!-- END: View. -->


</div>