/* diabled untill i get time to work on responsive design  */


/***********************************
  RESPONSIVE DESIGN
************************************/


/*----------------------  320px  ----------------------*/
@media all and (min-width: 320px) {

  header {
    #logo {
      img {
        width: 160px;
      }
    }
    .nav-top {
      & > li {
        text-align: center;
        & > a {
          font-size: 14px;
          padding: 23px 0;
        }
      }
    }
  }
}

@media all and (min-width: 320px) and (max-width: 420px) {
  nav {
    & > div {
      padding: 0 !important;
    }
    div.navbar-collapse {
      padding: 0;
    }
  }
  .nav-top {
    & > li {
      width: 100%;
      text-align: center;
    }
  }


  div.l-standard {
    // VIDEOS LIST BY CATEGORY
    .l-list {
      .listed-items {
        & > .row {
            & > div:first-child {
              & > div {
                width: 100%;
                margin-bottom:30px;
              }
            }
        }
      }
    }
  }


}
@media all and (min-width: 320px) and (max-width: 512px) {

  h2 {
    font-size:21px;
    margin-top:0;
  }

  header {
    .nav-top {
      & > li {
        & > a {
          padding: 15px 0;
        }
        &:hover {
          & > a {
            background-color:@gray-lighter !important;
            border-color:transparent;
          }
        }
        &.on {
          & > a {
            background-color: @gray-light !important;
          }
        }
      }
    }
  }

  //Homepage
  div.l-splash {
    .last-topics {
      .row {
        & > div {
          width: 100% !important;
          .topic {
            .flipper {
              .back {
                .button-wrap {
                  text-align: center;

                  a {
                    display: block;
                    padding:10px 0;
                    font-size:18px;
                  }
                }
              }
            }
          }
        }
      }

    }

    .wrap-bottom {
      hr {
        display: none;
      }
      .centered-title {
        h2 {
          margin:0;
          position: relative;
          left:auto;
        }
      }
    }
  }

  div.l-standard {

      //Category Page
     .category-list {
       li {
         a {
           span {
            font-size:110%;
           }
           &:hover {
             span.name {
               display:block;
             }
             .caption {
               display: none;
             }
           }
         }
       }
     }

    .l-about {
      p {
        font-size:90%;
      }
      img {
        width: 100%;
      }
    }

    //Video Article page
    .l-video {
      p {
        font-size: 90%;
      }
      .title {
        h1 {
          margin-top: 0;
          font-size: 150%;
        }
      }
      .use {
        & .share, & .download {
          .title {
            display: none;
          }
        }
        & .views {
         border:0;
         margin:0;
         padding:0;
         width: 100%;
         display: block;
         .title {
           margin:20px 0 0;
           padding-right:10px;
         }
         span {
           font-size:24px;
           display: inline-block;
           float: left;
           margin-top: 7px !important;
         }
        }
        .fa {
          font-size:18px;
        }
        .title {
          span {
            font-size:90%;
            display: inline-block;
          }
        }
      }
    }

  }

  footer.l-footer {
    .copyright p {
      text-align: center;
    }
  }
}



@media all and (min-width: 320px) and (max-width: 767px) {

    //Homepage
    div.l-splash {

      .splash-videos {
        .new-video {
          .description {
            p {
              font-size:90%;
            }
          }
        }
      }

    .last-topics {
      .row {
        padding:0 15px;
        & > div {
          padding:0
        }
      }
    }

    .publications {
      .box {
        margin-top:25px;
        margin-bottom:25px;

        p {
          min-height: 0 !important;
        }
      }
    }
  }

  div.l-standard {

    .wrap-top h1 {
      margin:0;
    }

    // VIDEOS LIST BY CATEGORY
    .l-list {
      .aside {
        display: none;
      }
    }

    .l-video {
      .aside {
        h3 {
          margin-top:30px;
        }
      }
    }


    //CONTRACT
    .l-contact {
      .address {
        table {
          td {
            p {
              font-size:14px;
            }
          }
        }
      }
    }

  }

}



/*----------------------  420px  ----------------------*/
@media all and (min-width: 420px) {
  header {
    .nav {
      & > li {
        width: 25%;
      }
    }
  }
}


/*---------------------- 512px  ----------------------*/
@media all and (min-width: 512px) and (max-width: 990px) {

  p {
    font-size:100%;
  }

  div.l-splash {
    .last-topics {
      .topic {
        .flipper {
          .front {
            img {
              width: 165%;
              margin-left: -42%;
            }
          }
        }
      }
    }
  }

  div.l-standard {
    //Category Page
    .category-list {
      li {
        a {
          .caption {
            p {
              font-size:80%;
              margin: 10px 0px;
            }
          }
        }
      }
    }

  }

}


/*----------------------  560px  ----------------------*/
@media (min-width: 560px) {

  div.l-splash {
    .publications {
      .box {
        p {
          min-height:175px;
        }
      }
    }
  }
}




@media all and (min-width: 560px) and (max-width: 990px) {
  div.l-splash {
  .splash-videos {
      .nv {
        width: 100%;
      }
      .pi {
        width: 100%;
        .populars {
          & > div {
            & > div {
              .popular-item {
                .thumb {
                  display: block;
                }
                .title {
                  display: block;
                  width: 100%;
                  padding:10px 5px;
                  min-height: 65px;
                }
              }
            }
          }
        }
      }

    }
  }
}




@media all and (min-width: 560px) and (max-width: 990px) {
  .splash-videos {
    .pi {
      .populars {
        h3 {
          display: block !important;
        }
        & > div {
          & > div {
            width: 50%;
            float: left;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}


/*----------------------  568px  ----------------------*/
@media all and (max-width: 568px) {


  //SPLASH
  div.l-splash {
    .splash-videos {

      .new-video {
        .tag-new {
          right: auto;
          left: 0;
        }
        :hover {
          .overlay {
            background: none;
          }
        }
      }
      .image-caption {
        .description {
          .transition(none);
        }
        .caption {
          h3 {
            font-size: 16px;
          }
          p {
            font-size: 16px;
            margin:0;
          }
        }
        img {
          .transition(none);
        }
        :hover {
          .caption {
            bottom: 0 !important;
            top: auto !important;
          }
          .description {
            .translateY(none);
            display: none;
          }
        }
      }

    }
  }

}


/*----------------------  768px  ----------------------*/
@media all and (min-width: 768px) {

  header {

    .nav {
      & > li {
        width: auto;
        & > a {
          font-size: 16px;
          padding: 25px 15px;
        }
      }
    }

  }

  div.l-splash {
    .splash-videos {
      .pi {
        .populars {
          .popular-item {
            .title {
              width: 63%;
            }
          }
        }
      }
    }

    .publications {
      .box {
        p {
          min-height: 200px;
        }
      }
    }
  }

  div.l-standard {
    .listed-items {
      .row {
        & > div {
          & > div {
            height: 260px;
          }
        }
      }
    }
  }

}
@media (max-width: 768px) {

  .l-footer {

    .social {
      float:none;
      width: 100%;
    }
    .social .nav {
      text-align: center;
      border-bottom: 1px solid rgba(255,255,255,.1);
      padding: 25px;
      margin-bottom: 10px;
      box-shadow: 0 1px 0 rgba(0,0,0,.1);
      color:#eee;
    }
    .copyright {
      text-align: center;
    }

  }

}
@media all and (min-width: 768px) {

  div.l-splash {
    .publications {
      .box {
        .round-frame {
          display: inline-block;
          background-color: #FFF;
          border-radius: 200px;
          padding: 60px 5px;
        }
      }
    }
  }


}



/*---------------------- 993px  ----------------------*/
@media all and (min-width: 993px) {

  header {
    #logo {
      img {
        width: 100%;
        max-height:250px;
      }
    }

    .nav {
      & > li {
        width: auto;
        & > a {
          font-size: 18px;
          padding: 35px 15px;
        }
      }
    }
  }

  .splash-videos {
    //BS Columns
    .col-sm-8 {
      width: 66.66666667%;
    }
  }

}


@media all and (min-width: 768px) and (max-width: 993px) {

   div.l-standard {
     .aside {
       .listed-items {
         .ng-scope {
           width: 100%;
         }
       }
     }
   }

}





/*----------------------  1200px ----------------------*/
@media all and (max-width: 1200px) {

  .category-list {
    li {
      a {
        caption {
          p {
            margin:10px 5px;
            font-size:12px;
            line-height:14px;
          }
        }
      }
    }

  }

  div.l-splash {

    .splash-videos {
      .new-video {
        .caption {
          h3 {
            font-size:28px;
          }
        }
        .description {
          p {
            padding-top:0;
          }
        }
      }
      .pi {
        padding-top:10px;
        .populars {
          h3 {
            font-size:21px;
            padding-bottom:5px;
            margin-bottom:5px;

            //there is no space !!
            display: none;
          }
        }
        .popular-item {
          .title {
            p {
              font-size:13px !important;
              line-height: 15px !important;
            }
            span {
              padding-top:5px;
            }
          }
        }
      }
    }

    .last-topics {
      .topic {
        .back {
          .button-wrap{
            margin-top:10px !important;
            .btn-lg {
              font-size: 14px;
              padding: 7px 10px;
            }
          }
        }
      }
    }

  } // END OF SLPASH


}


@media (min-width: 1200px) {

  header {
    .nav-top {
      & > li > a {
        font-size: 21px;
        padding: 41px 15px;
      }
    }
  }

  div.l-splash {

    .splash-videos {
      .pi {
        .populars {
          .popular-item {
            .title {
              width: 68%;
            }
          }
        }
      }
    }

    .publications {

      .row {
        & > div {
          .box {
            .round-frame {
              display: inline-block;
            }
            p {
              min-height:155px;
            }
          }
        }
      }
    }
  }



}
