body {
	font-family: "Roboto", "Helvetica Neue Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px ;
    line-height:1.4;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h1 {
	font-size: 36px ;

}

h2 {
	font-size: 32px;
    margin-top:40px;

}

h3 {
	font-size: 24px ;
}

h4 {
	font-size: 18px ;
}

a {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;

  text-decoration: none;
  color: rgb(46, 158, 46);
  &:hover {
    color:@prime-dark;
  }
}

p {
  font-size:18px;
  font-weight:400;
  color:@black;
}

.btn {
  border-radius: 0 !important;
}
.hide {
  display: none !important;
}

//hover events while scrolling
.disable-hover,
.disable-hover * {
  //pointer-events: none !important;
}

.scroll-cover {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  pointer-events: auto !important;
  z-index: 10000;
}


/*category definitions (Colors, Gradients and Icons)*/

.administration {
  .category(@administration, @gray-darker);
}
.clients{
  .category(@clients, @gray-darker);
}
.quality {
  .category(@quality, @gray-darker);
}
.skills{
  .category(@skills, @gray-darker);
}
.finance{
  .category(@finance, @gray-darker);
}
.management {
  .category(@management, @gray-darker);
}
.market {
  .category(@market, @gray-darker);
}
.projects {
  .category(@projects, @gray-darker);
}
.logistic {
  .category(@logistic, @gray-darker);
}
.informatics{
  .category(@informatics, @gray-darker);
}
.gurus{
  .category(@gurus, @gray-darker);
}
.others{
  .category(@others, @gray-darker);
}

//TODO: responsive design
// this removes responsive design
body {
  //min-width:960px;
  width: auto !important;
  //width:960px;
}

.l-container {
  min-height:750px;
}
.container {
  //min-width: 960px;
}

//Wrappers
.wrap {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  &-top {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:@gray-darker;
    color:@white;


    h1 {
      margin:20px 0;
    }
    p {
      color:@white
    }
  }
  &-bottom {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: @gray-lighter;

    h2 {
      margin-top:10px;
    }
  }
}



/* SPRITE */
.logo {
  height: 45px;
  width: 165px;
  display: inline-block;
  background-image: url('../img/channels.png');
  &.gestion {
      background-position: -8px 6px;
  }
  &.mupdate {
    background-position: -6px 178px;
  }
  &.blog {
    background-position: -4px -97px;
  }
  &.intras {
    background-position: -8px -154px;
    height: 57px;
  }
}