.loading {
  p {
    color:@black;
  }
}

div.l-loading {
	background:@black-dark;
	bottom: 0px ;
	left: 0px ;
	position: fixed ;
	right: 0px ;
	top: 0px ;

    div {
      position: absolute;
      top:48%;
      left:0;
      width:100%;
      text-align: center;
      p {
        color: #F0F0F0 ;
        font-size: 16px ;
        font-style: italic ;
        text-align: center ;
        margin-top:10px;
      }

    }


}