// --
// Borrowed from Twitter Bootstrap.
// --

// Clearfix
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

// Transform
.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

// User select
// For selecting text on the page
.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select;
       -o-user-select: @select;
          user-select: @select;
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}


//translate Y
.translateY(@translateY) {
  transform: translateY(@translateY);
  -webkit-transform: translateY(@translateY);
  -moz-transform: translateY(@translateY);
  -ms-transform: translateY(@translateY);
  -o-transform: translateY(@translateY);
}
//translate X
.translateX(@translate) {
  transform: translateY(@translate);
  -webkit-transform: translateY(@translate);
  -moz-transform: translateY(@translate);
  -ms-transform: translateY(@translate);
  -o-transform: translateY(@translate);
}

//translate X
.ease-in-out(@time) {
-webkit-transition:all @time ease-in-out;
-moz-transition:all @time ease-in-out;
-o-transition:all @time ease-in-out;
-ms-transition:all @time ease-in-out;
transition:all @time ease-in-out;
}

//header-gradient
.backgroundGradient(@color1, @color2) {
  background-color: @color1;
  background-image: -webkit-gradient(linear,left bottom,right top,color-stop(0%,@color1),color-stop(100%,@color2));
  background-image: -webkit-linear-gradient(45deg,@color1 0,@color2 100%);
  background-image: -moz-linear-gradient(45deg,@color1 0,@color2 100%);
  background-image: -ms-linear-gradient(45deg,@color1 0,@color2 100%);
  background-image: -o-linear-gradient(45deg,@color1 0,@color2 100%);
  background-image: linear-gradient(45deg,@color1 0,@color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}

//
.gradientL(@color, @percent) {
  background-image: -moz-linear-gradient(left, @color @percent,rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, @color @percent,rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(left, @color @percent,rgba(0,0,0,0));
  background-image: linear-gradient(to right, @color @percent,rgba(0,0,0,0));
}
.gradientR(@color, @percent) {
  background-image: -moz-linear-gradient(right, @color @percent,rgba(0,0,0,0));
  background-image: -o-linear-gradient(right, @color @percent,rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(right, @color @percent,rgba(0,0,0,0));
  background-image: linear-gradient(to left, @color @percent,rgba(0,0,0,0));
}

.gradientB(@color, @percent) {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, @color);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) @percent, @color);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) @percent, @color);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) @percent, @color);
}

//Gradient overlay for titles
.overlay(@color, @percent) {
  .gradientB(@color, @percent);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


//color changers by Category
.category(@category, @gradientFlow) {
  &.bg {
    background-color:@category !important;
  }
  &.gradient {
    .backgroundGradient(@category,@gradientFlow);
  }
  &.color {
    color: @category !important;
  }
  &.border-cc {
    border-color: @category !important;
  }
  &.border-hcc:hover {
    border-color: @category !important;
  }
}

//scale
.scale(@size) {
  -webkit-transform:  scale(@size);
     -moz-transform:  scale(@size);
       -o-transform:  scale(@size);
       -ms-transform: scale(@size);
           transform: scale(@size);
}
