div.l-splash {

  .splash-videos {

    background: @gray-darker;

    a {
      color: @brand-success;
    }
    a:hover {
      text-decoration: none;
    }

    //new main promoted video in splash page
    .new-video {
      position: relative;
      margin: 10px 0;
      overflow: hidden;
      cursor: pointer;

      a {
        display: block;
      }

      &:hover {

        .description {
          opacity: 1;
          .translateY(-100px);
        }

        .overlay {

          background: rgba(0, 0, 0, .6);

        }
        .caption {
          top: 10px;
        }

      }

      .description {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        top: 250px;
        .ease-in-out(0.15);

        p {
          text-align: justify;
          color: @white;
          padding: 20px;
          font-size: 16px;
          line-height: 1.2em;
          font-weight: normal;
          .see-more {
            color:@prime;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .overlay {
        .overlay(@black-darker, 50%);
      }
      .tag-new {
        background: @prime;
        color: @white;
        padding: 0 15px;
        line-height: 36px;
        height: 36px;
        position: absolute;
        top: 0;
        right: 20px;
        z-index: 100;
      }

      .thumb {
        width: 100%;
      }
      .caption {
        position: absolute;
        bottom: 0;
        color: @white;
        padding: 20px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
        line-height: 1.5em;
        .ease-in-out(150);
        p {
          color: @gray-lighter;
          font-size: 24px;
        }
        h3 {
          font-size: 32px;
          font-weight: bold;
          margin: 0;
        }
      }
    }
    //<!--/*END MAIN VIDEO */
    .pi {

      .populars {

        margin-bottom: 10px;

        h3 {
          margin-top: 10px;
          color: @white;
          margin-bottom: 11px;
          border-bottom: 1px solid;
          padding-bottom: 10px;
          font-size: 28px;
        }
        .popular-item {
          background: @gray-lightest;
          margin: 2px 0;
          border: 3px solid @gray-light;
          display: block;

          > div {
            padding: 10px 10px 7px;
            display: table;
          }

          .thumb {
            padding: 0;
            display: table-cell;

            img {
              width: 100%;
            }
          }
          .title {
            display: table-cell;
            vertical-align: top;
            line-height: 14px;
            padding:0 0 0 5px;
            width: 68%;
            p {
              margin: 0;
              color: @black;
              line-height: 19px;
              font-size: 15px;
            }

            span {
              font-size: 12px;
              color: #777;
            }
          }

          &:hover {
            border-color: @prime;
            cursor: pointer;
            .title {
              p {
                color: @black-darker !important;
              }

            }
          }

        }

      }
    }

  } //END of .splash-videos

  //LAST ARTICLES
  .last-topics {
    padding:20px 0;
    padding-top:0;
    .row {
      > div {
        &:nth-child(1){
          padding-right:0;
        }
        &:nth-child(2){
          padding:0;
        }
        &:nth-child(3){
          padding-left:0;
        }

        &:nth-child(4){
          padding-right:0;
        }
        &:nth-child(5){
          padding:0;
        }
        &:nth-child(6){
          padding-left:0;
        }
      }
    }
    .topic {
      position: relative;
      .tag {
        padding:5px 10px;
        position: absolute;
        left:2px;
        top:2px;
        color:@white;
        z-index:100;
        font-weight:400;
        font-size:16px;
      }
      .flipper {
        display: block;
        height:250px;
        position: relative;
        border:2px solid @white;

        .front, .back {
          position: absolute;
          width: 100%;
          height:100%;
          top:0;
          left:0;
          overflow: hidden;
        }
        .front {
          .overlay {
            .overlay(@black-darker, 45%);
          }
          img {
            width: 125%;
            margin-left: -10%;
          }
          .caption {
            position: absolute;
            bottom: 0;
            padding:15px;
            p {
              margin:0;
              line-height: 16px;
              font-size:16px;
              color:@white;
              &.speaker {
                margin-bottom:10px;
              }
              &.title {
                font-weight:700;
              }
            }
          }
        }
        .back {
          padding:50px 10px 10px;
          p {
            font-size:14px;
            line-height:16px;
          }
          & > a {
            margin:0;
            font-size:14px;
            color:@black;
            &:hover {
              text-decoration:none;
            }
          }

          .button-wrap {
            display: block;
            text-align: right;
            margin-top: 20px;
            position: absolute;
            bottom: 0;
            width: 100%;
            right: 0;
            .btn {
              font-weight:700;
              span {
                padding-left:5px;
              }
            }
          }
        }
      }
    }
  }

  .wrap-bottom {
    .centered-title {
      display: block;
      text-align: center;
      hr {
        width: 100%;
        border-color: @black-light;
        top: 30px;
      }
      h2 {
        background-color:@gray-lighter;
        z-index: 10;
        position: absolute;
        top: 6px;
        left: 50%;
        margin-left: -230px;
        padding: 5px;

      }

    }
  }

  .publications {

    padding: 40px 0 20px;
    text-align: center;
    .box {

      p {
        font-size: 16px;
        padding: 10px;
        min-height: 155px;
        text-align: justify;
      }
      .round-frame {

        & > div {
          height: 175px;
          display: table-cell;
          vertical-align: middle;
          background: white;
          border-radius: 300px;
        }
      }
      .button-wrap {
        display: block;
        text-align: center;
        a.btn {
          width: 180px;
          .fa {
            padding-left:7px;
          }
        }
      }
    }
  }


}
