
div.l-standard {


    .breadcrumb {
      margin-bottom:0;
      background-color:@gray-darker;
      border-radius:0;
      box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
      color:@gray-light;
      .disabled {
        cursor:not-allowed;
        color:@black-lighter;
        display: inline-block;

      }
      a {
        color:@white;
        font-weight:500;
        display: inline-block;
        &:hover {
          text-decoration:underline;
          color:@white !important;

        }
      }
    }

    .aside {
        h3 {
          margin-top:0;
        }
    }
    .more {
      margin-top:30px;
      padding:30px 20px;
      border-top:1px solid;
      border-bottom:1px solid;
      border-color:@gray-light;
      & > div {
          display: table;
      }
      p {
        margin:0;
        color:@black-light;
        text-transform: uppercase;
        display: inline-block;
        padding-left:10px;
        padding-top:20px
      }
      .logo {
        opacity: .5;
        display: inline-block;
        float: left;
      }
    }

    .subtext {
      margin:40px 0 0;
      border-top:1px solid @black-lighter;
      color:@black-light;
      h4 {

      }
       p {
         font-size:14px;
         font-style: italic;
       }
    }

    //ABOUT PAGE
    .l-about {
      .text-img {
        float: left;
        border:0;
         img {
           margin:10px;
           margin-left:0;
           margin-top:0;
           display: inline-block;
         }
      }
      img {
        max-width: 100%;
      }
    }

    //CONTACT PAGE
    .l-contact {
      .address {
        margin-bottom:20px;
        h3 {
          font-size:24px;
          font-weight: 400;
        }
        table {
          td {
            padding:5px 5px 5px 0;
            vertical-align:top;
            p {
              margin:0;
            }
          }
        }
      }
      .map {
        border:1px solid @gray-light;
      }
    }
}