.l-footer {

  background:@gray;
  color:@white;
  padding-top:10px;

  .container {
    position: relative;
  }

  .f-logo {
    display: inline-block;
  }
  .logo:hover {
    opacity: .5;
  }

  .copyright {
    margin-top:10px;
    background-color:@gray-darker;
    p {
      font-size: 12px;
      margin:3px 0;
      color:@white;
      opacity: .5;
      text-align: right;
    }

  }

  .footer-nav {
    display: table;
    padding:10px 0;
  }
  .footer-nav .nav {
    display: table-cell;
    vertical-align: bottom;
  }
  .footer-nav .nav  > li {
    float: left;
  }
  .footer-nav .nav > li > a {
    padding: 3px 7px;
    font-weight: bold;
    opacity: 1;
    color:#eee;
    font-size:14px;
  }
  .footer-nav .nav > li {
    
    &.on {
      opacity:.5;
    }
    &> a {
      &:hover {
        opacity:.5;
        background: none;
      }

    }
  }



  /*

  SOCIAL AND SHARE BUTTONS
  */
  .social {
    float:right;
  }
  .social .nav {
    padding: 23px 0 0;
    text-align: right;
  }
  .social .nav > li{
    display: inline-block;
    margin: 0;
  }
  .social .nav > li > a {
    position: relative;
    display: block;
    padding: 11px 14px 14px 12px;
    background-color: rgba(255,255,255,.2);
    width: 50px;
    height: 50px;
    color: rgba(255,255,255,1);


  }

  .social .fa:hover {
    opacity:1;
    color:#fff;
  }
  .social .fa-facebook:hover {
    background-color:#45619D;
  }
  .social .fa-twitter:hover {
    background-color:#1DCAFF;
  }
  .social .fa-linkedin:hover {
    background-color:#1985BC;
  }

}