

div.category-list {
  .listed-items {
    .item {
      margin: 5px 0;
      display: block;
      color:@black-light;
      text-decoration: none;
      min-height: 230px;
      & > .thumb {
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          .transition(all 300ms ease);
        }
        & > .see-more {
          position: absolute;
          left: 50%;
          margin-left: -15px;
          top: -50px;
          color: #fff;
          font-size: 24px;
          z-index: 25;
          border-radius: 60px;
          border: 2px solid;
          padding: 0 5px 0 10px;
          .transition(all 500ms ease);
        }
      }
      h4 {
        font-size: 15px;
      }
      h4.speaker {
        margin-bottom: 3px;
      }
      h4.title {
        font-weight: 400;
        margin-top: 0;
        color:@black;
      }
      .details {
        font-size: 12px;
        color:@black-light;
        .views:after {
          content: " \2022 ";
        }
      }
    }

    .item:hover {
      color:@black !important;
      .overlay {
        background: black;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .5;
        z-index: 10;
      }
      & > .thumb {
        img {
          -webkit-filter: blur(1px);
        }
        & > .see-more {
          .transform(translate(0, 250%) rotate(360deg));

        }
      }
      h4.title {
        color:@black;
      }
    }
  }




  .categories.aside {
    h3 {
      border-bottom: 1px solid;
      padding-bottom: 5px;
    }
    .nav {
      li {
        a {
          padding: 10px 5px;
          border-radius: 0;
          cursor: pointer;
          color:@black-light;
          font-size: 14px;
        }
        a.on {
          display: none;
        }
        a:hover {
          background: #e6e8eb;
          color:@black;
        }
      }
    }
  }
}