.l-video {
  .wrap-top {
    padding-top:0 !important;
    padding-bottom:0 !important;
    background:#000 !important;
  }
  .video {
    overflow: hidden;
    position: relative;
    .poster {
      a.fa-play {
        z-index: 25;
        position: absolute;
        top: 50%;
        left:50%;
        margin-top: -40px;
        margin-left:-70px;

        padding: 15px 20px 13px 25px;
        border: 5px solid;
        border-radius: 100px;
        background-color: rgba(0,0,0,.4);
        color:@white;
        cursor: pointer;
        .transition('all .2s ease-in-out');
        box-shadow: 0 0 10px rgba(0,0,0,.5);

        &:hover {
          .scale('2');
          font-size:80px;
          padding: 20px 25px 20px 35px;
          text-decoration: none;
          left: 50%;
          top: 50%;
          margin-top: -60px;
          margin-left: -80px;
        }
      }
       img {
         width:100%;
         max-width: 650px;

       }

      /*
      &:before {
        .gradientL(#000, 70%);
        width: 310px;
        height:330px;
        position: absolute;
        z-index: 10;
        content: '';
        left:0;
        top:0;
      }
      &:after {
        .gradientR(#000, 70%);
        width: 370px;
        height:330px;
        position: absolute;
        z-index: 10;
        content: '';
        right:0;
        top:0
      }
      */
    }
    #thevideo {
      embed {
        max-height: 450px;
      }
    }


  }
  .title {
    .speaker {
      margin-top:20px;
      p {
        color: @black-light;
        font-size:24px;
        margin-bottom:0;
      }
    }
    h1 {
      margin-top:0;
    }
  }
  .use {
    border-bottom:1px solid @gray-light;
    padding-top:10px;
    padding-bottom:10px;

    .fa {
      font-size: 21px;
      background: @black;
      color: #fff;
      text-align: center;
      border-radius:60px;

      &:hover {
        text-decoration: none;
        cursor: pointer;
        background:@black-lighter;
        color:@black;
      }
    }
    & .share, & .download, & .views {
      float: left;
      .title {
        float:left;
        padding-right:20px;
        margin-top: 10px;
        font-weight: 700;
        span {
          display: block;
          line-height:14px;
          font-size:14px;
          &:first-child:after {
            content: ' ';
          }
        }
      }
    }
    .download, .views {
      margin-left:10px;
      padding-left:10px;
      border-left:1px solid @gray-light;
      float: left;
    }
    .views {
      span {
        font-size:34px;
      }
    }
  }
}