header {

  background-color:@gray-lighter; /* #383d46 */
  //  border-bottom:1px solid #2C3036;
  overflow: hidden;

  nav.navbar {
    border-top: 3px solid @gray-light;
    background-color:@white;
    box-shadow: 0 0 3px rgba(0,0,0,.1);


    button.navbar-toggle {
      margin: 0;
      border-radius: 0;
      border: 0;
      padding: 25px;
      padding: 18px 20px;
      color:@black-light;
      background-color:@white;
      &:hover, &:active, &:focus {
        background-color:@white !important;
        color:@prime
      }
    }
  }

  .nav {margin:0}  // anti responsive
  .nav li { float: left;}  //anti responsive

  .navbar {
    border-radius:0;
    margin-bottom:0;
    border:none;
  }

  .navbar-search  {
    padding:0;
  }
  .navbar-search form {
    position: relative;
    margin-top: 6px;
  }
  .navbar-search input {
    background-color:#464c58;
    border: solid 1px #32373f;
    padding-left: 50px;
  }
  .navbar-search form > span {
    position: absolute;
    z-index: 10;
    border-right: 1px solid #3B414D;
    padding: 11px 15px;
    top: 1px;
    color: #999;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right:0;
  }

  /*Logo*/
  #logo a {
    font-family: 'Alegreya Sans', sans-serif;
    text-decoration: none;
    font-weight: 100;

    display: table;
    //margin: 10px 0;
  }
  #logo img {
    width: 100%;
    max-width:250px;
    min-width:160px;
    display: table-cell;
    margin: 4px 0;
  }
  #logo span {
    display: table-cell;
    line-height:30px;
    font-size: 35px;
    font-weight: 100;
    margin-left: 0px;
    color: #50b948;
    vertical-align: bottom;
  }


  /* NAVIGATION */
  .nav-top > li {

    & > a {
      font-weight: 700;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: -3px;
      border-top: 3px solid transparent;

    }

    &:hover {
      & > a {
        color:@black-darker;
        //background-color:@gray-light !important;
        border-top: 3px solid @prime;
      }
    }

    &.on {

      & > a {
        color:@black-darker;
        background-color:@gray-lighter;
        border-top: 3px solid @prime;
      }

    }

  }

}