ul.category-list {
	list-style-type: none ;
    margin:0 0 20px;
    padding:0;

	li {
        padding:0 3px;
		a {
			background-color:@gray-lighter;
			border:0;
			display: block ;
			position: relative ;
			text-decoration:none;
            height: 150px;
            margin: 3px 0;
            color:@white;
            overflow: hidden;


			&:after {
				background-color: #FFFFFF ;
				color:@gray-dark ;
				content: "\00BB" ;
				display: none ;
				font-family: Tahoma, Geneva, sans-serif ;
				font-size: 40px ;
				height: 40px ;
				line-height: 35px ;
				margin-top: 0px ;
				position: absolute ;
				right: 0px ;
				text-align: center ;
				text-index: 3px ;
				bottom: 0 ;
				width: 40px ;
                font-weight: bold;
            }

			span.name {
				display: block ;
				font-size: 21px ;
				font-weight: 300 ;
				line-height: 23px ;
				padding: 20px 12px 3px 12px ;
                text-align: left;
                text-shadow: 0px 1px 0 rgba(0,0,0,.1);
			}

			span.description {
				display: block ;
				padding: 0px 0px 0px 15px ;
			}

			// a -- variations.

			&:hover {
				&::after {
					display: block ;
				}
			}
		}
	}
}