//
// Variables
// --------------------------------------------------


//== Colors
//
@white:                  #fff;
@prime:                  #82bb46;
@prime-dark:             #126412;

//Categories
@administration:        #981b48;
@clients:               #BB9D81;
@quality:               #84a956;
@skills:                #e49307;
@finance:               #00647c;
@management:            #9797a1;
@market:                #C24747;
@projects:              #923d74;
@logistic:              #339966;
@informatics:           #3399CC;
@gurus:                 #669999;
@others:                #632F00;


@gray-darker:            lighten(#23272D, 0%);
@gray-dark:              lighten(#23272D, 13.5%);
@gray:                   lighten(#23272D, 20%);
@gray-light:             lighten(#23272D, 55.5%);
@gray-lighter:           lighten(#23272D, 75.5%);
@gray-lightest:          lighten(#23272D, 89.5%);

@black-darker:            lighten(#000, 0%);
@black-dark:              lighten(#000, 13.5%);
@black:                   lighten(#000, 20%);
@black-light:             lighten(#000, 50.5%);
@black-lighter:           lighten(#000, 69.5%);
@black-lightest:          lighten(#000, 89.5%);


@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


