/***********************************************************
    Default CSS file for INTRAS, Temas de Vanguardia
    =======================================================
    Date: 24.06.2014
    Author: Novel Martinez
    Version: 1.02
***********************************************************/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
body {
  font-family: "Roboto", "Helvetica Neue Custom", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px ;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
}
h1 {
  font-size: 36px ;
}
h2 {
  font-size: 32px;
  margin-top: 40px;
}
h3 {
  font-size: 24px ;
}
h4 {
  font-size: 18px ;
}
a {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  color: #2e9e2e;
}
a:hover {
  color: #126412;
}
p {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}
.btn {
  border-radius: 0 !important;
}
.hide {
  display: none !important;
}
.scroll-cover {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  pointer-events: auto !important;
  z-index: 10000;
}
/*category definitions (Colors, Gradients and Icons)*/
.administration.bg {
  background-color: #981b48 !important;
}
.administration.gradient {
  background-color: #981b48;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #981b48), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #981b48 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #981b48 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #981b48 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #981b48 0, #23272d 100%);
  background-image: linear-gradient(45deg, #981b48 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.administration.color {
  color: #981b48 !important;
}
.administration.border-cc {
  border-color: #981b48 !important;
}
.administration.border-hcc:hover {
  border-color: #981b48 !important;
}
.clients.bg {
  background-color: #bb9d81 !important;
}
.clients.gradient {
  background-color: #bb9d81;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #bb9d81), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #bb9d81 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #bb9d81 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #bb9d81 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #bb9d81 0, #23272d 100%);
  background-image: linear-gradient(45deg, #bb9d81 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.clients.color {
  color: #bb9d81 !important;
}
.clients.border-cc {
  border-color: #bb9d81 !important;
}
.clients.border-hcc:hover {
  border-color: #bb9d81 !important;
}
.quality.bg {
  background-color: #84a956 !important;
}
.quality.gradient {
  background-color: #84a956;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #84a956), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #84a956 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #84a956 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #84a956 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #84a956 0, #23272d 100%);
  background-image: linear-gradient(45deg, #84a956 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.quality.color {
  color: #84a956 !important;
}
.quality.border-cc {
  border-color: #84a956 !important;
}
.quality.border-hcc:hover {
  border-color: #84a956 !important;
}
.skills.bg {
  background-color: #e49307 !important;
}
.skills.gradient {
  background-color: #e49307;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e49307), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #e49307 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #e49307 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #e49307 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #e49307 0, #23272d 100%);
  background-image: linear-gradient(45deg, #e49307 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.skills.color {
  color: #e49307 !important;
}
.skills.border-cc {
  border-color: #e49307 !important;
}
.skills.border-hcc:hover {
  border-color: #e49307 !important;
}
.finance.bg {
  background-color: #00647c !important;
}
.finance.gradient {
  background-color: #00647c;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #00647c), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #00647c 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #00647c 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #00647c 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #00647c 0, #23272d 100%);
  background-image: linear-gradient(45deg, #00647c 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.finance.color {
  color: #00647c !important;
}
.finance.border-cc {
  border-color: #00647c !important;
}
.finance.border-hcc:hover {
  border-color: #00647c !important;
}
.management.bg {
  background-color: #9797a1 !important;
}
.management.gradient {
  background-color: #9797a1;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #9797a1), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #9797a1 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #9797a1 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #9797a1 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #9797a1 0, #23272d 100%);
  background-image: linear-gradient(45deg, #9797a1 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.management.color {
  color: #9797a1 !important;
}
.management.border-cc {
  border-color: #9797a1 !important;
}
.management.border-hcc:hover {
  border-color: #9797a1 !important;
}
.market.bg {
  background-color: #c24747 !important;
}
.market.gradient {
  background-color: #c24747;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #c24747), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #c24747 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #c24747 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #c24747 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #c24747 0, #23272d 100%);
  background-image: linear-gradient(45deg, #c24747 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.market.color {
  color: #c24747 !important;
}
.market.border-cc {
  border-color: #c24747 !important;
}
.market.border-hcc:hover {
  border-color: #c24747 !important;
}
.projects.bg {
  background-color: #923d74 !important;
}
.projects.gradient {
  background-color: #923d74;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #923d74), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #923d74 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #923d74 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #923d74 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #923d74 0, #23272d 100%);
  background-image: linear-gradient(45deg, #923d74 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.projects.color {
  color: #923d74 !important;
}
.projects.border-cc {
  border-color: #923d74 !important;
}
.projects.border-hcc:hover {
  border-color: #923d74 !important;
}
.logistic.bg {
  background-color: #339966 !important;
}
.logistic.gradient {
  background-color: #339966;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #339966), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #339966 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #339966 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #339966 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #339966 0, #23272d 100%);
  background-image: linear-gradient(45deg, #339966 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.logistic.color {
  color: #339966 !important;
}
.logistic.border-cc {
  border-color: #339966 !important;
}
.logistic.border-hcc:hover {
  border-color: #339966 !important;
}
.informatics.bg {
  background-color: #3399cc !important;
}
.informatics.gradient {
  background-color: #3399cc;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3399cc), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #3399cc 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #3399cc 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #3399cc 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #3399cc 0, #23272d 100%);
  background-image: linear-gradient(45deg, #3399cc 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.informatics.color {
  color: #3399cc !important;
}
.informatics.border-cc {
  border-color: #3399cc !important;
}
.informatics.border-hcc:hover {
  border-color: #3399cc !important;
}
.gurus.bg {
  background-color: #669999 !important;
}
.gurus.gradient {
  background-color: #669999;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #669999), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #669999 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #669999 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #669999 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #669999 0, #23272d 100%);
  background-image: linear-gradient(45deg, #669999 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.gurus.color {
  color: #669999 !important;
}
.gurus.border-cc {
  border-color: #669999 !important;
}
.gurus.border-hcc:hover {
  border-color: #669999 !important;
}
.others.bg {
  background-color: #632f00 !important;
}
.others.gradient {
  background-color: #632f00;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #632f00), color-stop(100%, #23272d));
  background-image: -webkit-linear-gradient(45deg, #632f00 0, #23272d 100%);
  background-image: -moz-linear-gradient(45deg, #632f00 0, #23272d 100%);
  background-image: -ms-linear-gradient(45deg, #632f00 0, #23272d 100%);
  background-image: -o-linear-gradient(45deg, #632f00 0, #23272d 100%);
  background-image: linear-gradient(45deg, #632f00 0, #23272d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=1);
}
.others.color {
  color: #632f00 !important;
}
.others.border-cc {
  border-color: #632f00 !important;
}
.others.border-hcc:hover {
  border-color: #632f00 !important;
}
body {
  width: auto !important;
}
.l-container {
  min-height: 750px;
}
.wrap {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.wrap-top {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #23272d;
  color: #ffffff;
}
.wrap-top h1 {
  margin: 20px 0;
}
.wrap-top p {
  color: #ffffff;
}
.wrap-bottom {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e6e8eb;
}
.wrap-bottom h2 {
  margin-top: 10px;
}
/* SPRITE */
.logo {
  height: 45px;
  width: 165px;
  display: inline-block;
  background-image: url('../img/channels.png');
}
.logo.gestion {
  background-position: -8px 6px;
}
.logo.mupdate {
  background-position: -6px 178px;
}
.logo.blog {
  background-position: -4px -97px;
}
.logo.intras {
  background-position: -8px -154px;
  height: 57px;
}
.loading p {
  color: #333333;
}
div.l-loading {
  background: #222222;
  bottom: 0px ;
  left: 0px ;
  position: fixed ;
  right: 0px ;
  top: 0px ;
}
div.l-loading div {
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  text-align: center;
}
div.l-loading div p {
  color: #F0F0F0 ;
  font-size: 16px ;
  font-style: italic ;
  text-align: center ;
  margin-top: 10px;
}
div.l-splash .splash-videos {
  background: #23272d;
}
div.l-splash .splash-videos a {
  color: #5cb85c;
}
div.l-splash .splash-videos a:hover {
  text-decoration: none;
}
div.l-splash .splash-videos .new-video {
  position: relative;
  margin: 10px 0;
  overflow: hidden;
  cursor: pointer;
}
div.l-splash .splash-videos .new-video a {
  display: block;
}
div.l-splash .splash-videos .new-video:hover .description {
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}
div.l-splash .splash-videos .new-video:hover .overlay {
  background: rgba(0, 0, 0, 0.6);
}
div.l-splash .splash-videos .new-video:hover .caption {
  top: 10px;
}
div.l-splash .splash-videos .new-video .description {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 250px;
  -webkit-transition: all 0.15 ease-in-out;
  -moz-transition: all 0.15 ease-in-out;
  -o-transition: all 0.15 ease-in-out;
  -ms-transition: all 0.15 ease-in-out;
  transition: all 0.15 ease-in-out;
}
div.l-splash .splash-videos .new-video .description p {
  text-align: justify;
  color: #ffffff;
  padding: 20px;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: normal;
}
div.l-splash .splash-videos .new-video .description p .see-more {
  color: #82bb46;
}
div.l-splash .splash-videos .new-video .description p .see-more:hover {
  text-decoration: underline;
}
div.l-splash .splash-videos .new-video .overlay {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div.l-splash .splash-videos .new-video .tag-new {
  background: #82bb46;
  color: #ffffff;
  padding: 0 15px;
  line-height: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 100;
}
div.l-splash .splash-videos .new-video .thumb {
  width: 100%;
}
div.l-splash .splash-videos .new-video .caption {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 20px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  line-height: 1.5em;
  -webkit-transition: all 150 ease-in-out;
  -moz-transition: all 150 ease-in-out;
  -o-transition: all 150 ease-in-out;
  -ms-transition: all 150 ease-in-out;
  transition: all 150 ease-in-out;
}
div.l-splash .splash-videos .new-video .caption p {
  color: #e6e8eb;
  font-size: 24px;
}
div.l-splash .splash-videos .new-video .caption h3 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}
div.l-splash .splash-videos .pi .populars {
  margin-bottom: 10px;
}
div.l-splash .splash-videos .pi .populars h3 {
  margin-top: 10px;
  color: #ffffff;
  margin-bottom: 11px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-size: 28px;
}
div.l-splash .splash-videos .pi .populars .popular-item {
  background: #ffffff;
  margin: 2px 0;
  border: 3px solid #acb4bf;
  display: block;
}
div.l-splash .splash-videos .pi .populars .popular-item > div {
  padding: 10px 10px 7px;
  display: table;
}
div.l-splash .splash-videos .pi .populars .popular-item .thumb {
  padding: 0;
  display: table-cell;
}
div.l-splash .splash-videos .pi .populars .popular-item .thumb img {
  width: 100%;
}
div.l-splash .splash-videos .pi .populars .popular-item .title {
  display: table-cell;
  vertical-align: top;
  line-height: 14px;
  padding: 0 0 0 5px;
  width: 68%;
}
div.l-splash .splash-videos .pi .populars .popular-item .title p {
  margin: 0;
  color: #333333;
  line-height: 19px;
  font-size: 15px;
}
div.l-splash .splash-videos .pi .populars .popular-item .title span {
  font-size: 12px;
  color: #777;
}
div.l-splash .splash-videos .pi .populars .popular-item:hover {
  border-color: #82bb46;
  cursor: pointer;
}
div.l-splash .splash-videos .pi .populars .popular-item:hover .title p {
  color: #000000 !important;
}
div.l-splash .last-topics {
  padding: 20px 0;
  padding-top: 0;
}
div.l-splash .last-topics .row > div:nth-child(1) {
  padding-right: 0;
}
div.l-splash .last-topics .row > div:nth-child(2) {
  padding: 0;
}
div.l-splash .last-topics .row > div:nth-child(3) {
  padding-left: 0;
}
div.l-splash .last-topics .row > div:nth-child(4) {
  padding-right: 0;
}
div.l-splash .last-topics .row > div:nth-child(5) {
  padding: 0;
}
div.l-splash .last-topics .row > div:nth-child(6) {
  padding-left: 0;
}
div.l-splash .last-topics .topic {
  position: relative;
}
div.l-splash .last-topics .topic .tag {
  padding: 5px 10px;
  position: absolute;
  left: 2px;
  top: 2px;
  color: #ffffff;
  z-index: 100;
  font-weight: 400;
  font-size: 16px;
}
div.l-splash .last-topics .topic .flipper {
  display: block;
  height: 250px;
  position: relative;
  border: 2px solid #ffffff;
}
div.l-splash .last-topics .topic .flipper .front,
div.l-splash .last-topics .topic .flipper .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
div.l-splash .last-topics .topic .flipper .front .overlay {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 45%, #000000);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 45%, #000000);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, #000000);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div.l-splash .last-topics .topic .flipper .front img {
  width: 125%;
  margin-left: -10%;
}
div.l-splash .last-topics .topic .flipper .front .caption {
  position: absolute;
  bottom: 0;
  padding: 15px;
}
div.l-splash .last-topics .topic .flipper .front .caption p {
  margin: 0;
  line-height: 16px;
  font-size: 16px;
  color: #ffffff;
}
div.l-splash .last-topics .topic .flipper .front .caption p.speaker {
  margin-bottom: 10px;
}
div.l-splash .last-topics .topic .flipper .front .caption p.title {
  font-weight: 700;
}
div.l-splash .last-topics .topic .flipper .back {
  padding: 50px 10px 10px;
}
div.l-splash .last-topics .topic .flipper .back p {
  font-size: 14px;
  line-height: 16px;
}
div.l-splash .last-topics .topic .flipper .back > a {
  margin: 0;
  font-size: 14px;
  color: #333333;
}
div.l-splash .last-topics .topic .flipper .back > a:hover {
  text-decoration: none;
}
div.l-splash .last-topics .topic .flipper .back .button-wrap {
  display: block;
  text-align: right;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
}
div.l-splash .last-topics .topic .flipper .back .button-wrap .btn {
  font-weight: 700;
}
div.l-splash .last-topics .topic .flipper .back .button-wrap .btn span {
  padding-left: 5px;
}
div.l-splash .wrap-bottom .centered-title {
  display: block;
  text-align: center;
}
div.l-splash .wrap-bottom .centered-title hr {
  width: 100%;
  border-color: #818181;
  top: 30px;
}
div.l-splash .wrap-bottom .centered-title h2 {
  background-color: #e6e8eb;
  z-index: 10;
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -230px;
  padding: 5px;
}
div.l-splash .publications {
  padding: 40px 0 20px;
  text-align: center;
}
div.l-splash .publications .box p {
  font-size: 16px;
  padding: 10px;
  min-height: 155px;
  text-align: justify;
}
div.l-splash .publications .box .round-frame > div {
  height: 175px;
  display: table-cell;
  vertical-align: middle;
  background: white;
  border-radius: 300px;
}
div.l-splash .publications .box .button-wrap {
  display: block;
  text-align: center;
}
div.l-splash .publications .box .button-wrap a.btn {
  width: 180px;
}
div.l-splash .publications .box .button-wrap a.btn .fa {
  padding-left: 7px;
}
div.l-standard .breadcrumb {
  margin-bottom: 0;
  background-color: #23272d;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  color: #acb4bf;
}
div.l-standard .breadcrumb .disabled {
  cursor: not-allowed;
  color: #b1b1b1;
  display: inline-block;
}
div.l-standard .breadcrumb a {
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
}
div.l-standard .breadcrumb a:hover {
  text-decoration: underline;
  color: #ffffff !important;
}
div.l-standard .aside h3 {
  margin-top: 0;
}
div.l-standard .more {
  margin-top: 30px;
  padding: 30px 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #acb4bf;
}
div.l-standard .more > div {
  display: table;
}
div.l-standard .more p {
  margin: 0;
  color: #818181;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 10px;
  padding-top: 20px;
}
div.l-standard .more .logo {
  opacity: .5;
  display: inline-block;
  float: left;
}
div.l-standard .subtext {
  margin: 40px 0 0;
  border-top: 1px solid #b1b1b1;
  color: #818181;
}
div.l-standard .subtext p {
  font-size: 14px;
  font-style: italic;
}
div.l-standard .l-about .text-img {
  float: left;
  border: 0;
}
div.l-standard .l-about .text-img img {
  margin: 10px;
  margin-left: 0;
  margin-top: 0;
  display: inline-block;
}
div.l-standard .l-about img {
  max-width: 100%;
}
div.l-standard .l-contact .address {
  margin-bottom: 20px;
}
div.l-standard .l-contact .address h3 {
  font-size: 24px;
  font-weight: 400;
}
div.l-standard .l-contact .address table td {
  padding: 5px 5px 5px 0;
  vertical-align: top;
}
div.l-standard .l-contact .address table td p {
  margin: 0;
}
div.l-standard .l-contact .map {
  border: 1px solid #acb4bf;
}
ul.category-list {
  list-style-type: none ;
  margin: 0 0 20px;
  padding: 0;
}
ul.category-list li {
  padding: 0 3px;
}
ul.category-list li a {
  background-color: #e6e8eb;
  border: 0;
  display: block ;
  position: relative ;
  text-decoration: none;
  height: 150px;
  margin: 3px 0;
  color: #ffffff;
  overflow: hidden;
}
ul.category-list li a:after {
  background-color: #FFFFFF ;
  color: #414954;
  content: "\00BB";
  display: none ;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 40px ;
  height: 40px ;
  line-height: 35px ;
  margin-top: 0px ;
  position: absolute ;
  right: 0px ;
  text-align: center ;
  text-index: 3px ;
  bottom: 0 ;
  width: 40px ;
  font-weight: bold;
}
ul.category-list li a span.name {
  display: block ;
  font-size: 21px ;
  font-weight: 300 ;
  line-height: 23px ;
  padding: 20px 12px 3px 12px ;
  text-align: left;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1);
}
ul.category-list li a span.description {
  display: block ;
  padding: 0px 0px 0px 15px ;
}
ul.category-list li a:hover::after {
  display: block ;
}
header {
  background-color: #e6e8eb;
  /* #383d46 */

  overflow: hidden;
  /*Logo*/

  /* NAVIGATION */

}
header nav.navbar {
  border-top: 3px solid #acb4bf;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
header nav.navbar button.navbar-toggle {
  margin: 0;
  border-radius: 0;
  border: 0;
  padding: 25px;
  padding: 18px 20px;
  color: #818181;
  background-color: #ffffff;
}
header nav.navbar button.navbar-toggle:hover,
header nav.navbar button.navbar-toggle:active,
header nav.navbar button.navbar-toggle:focus {
  background-color: #ffffff !important;
  color: #82bb46;
}
header .nav {
  margin: 0;
}
header .nav li {
  float: left;
}
header .navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}
header .navbar-search {
  padding: 0;
}
header .navbar-search form {
  position: relative;
  margin-top: 6px;
}
header .navbar-search input {
  background-color: #464c58;
  border: solid 1px #32373f;
  padding-left: 50px;
}
header .navbar-search form > span {
  position: absolute;
  z-index: 10;
  border-right: 1px solid #3B414D;
  padding: 11px 15px;
  top: 1px;
  color: #999;
}
header .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}
header #logo a {
  font-family: 'Alegreya Sans', sans-serif;
  text-decoration: none;
  font-weight: 100;
  display: table;
}
header #logo img {
  width: 100%;
  max-width: 250px;
  min-width: 160px;
  display: table-cell;
  margin: 4px 0;
}
header #logo span {
  display: table-cell;
  line-height: 30px;
  font-size: 35px;
  font-weight: 100;
  margin-left: 0px;
  color: #50b948;
  vertical-align: bottom;
}
header .nav-top > li > a {
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -3px;
  border-top: 3px solid transparent;
}
header .nav-top > li:hover > a {
  color: #000000;
  border-top: 3px solid #82bb46;
}
header .nav-top > li.on > a {
  color: #000000;
  background-color: #e6e8eb;
  border-top: 3px solid #82bb46;
}
.l-footer {
  background: #505966;
  color: #ffffff;
  padding-top: 10px;
  /*

  SOCIAL AND SHARE BUTTONS
  */

}
.l-footer .container {
  position: relative;
}
.l-footer .f-logo {
  display: inline-block;
}
.l-footer .logo:hover {
  opacity: .5;
}
.l-footer .copyright {
  margin-top: 10px;
  background-color: #23272d;
}
.l-footer .copyright p {
  font-size: 12px;
  margin: 3px 0;
  color: #ffffff;
  opacity: .5;
  text-align: right;
}
.l-footer .footer-nav {
  display: table;
  padding: 10px 0;
}
.l-footer .footer-nav .nav {
  display: table-cell;
  vertical-align: bottom;
}
.l-footer .footer-nav .nav > li {
  float: left;
}
.l-footer .footer-nav .nav > li > a {
  padding: 3px 7px;
  font-weight: bold;
  opacity: 1;
  color: #eee;
  font-size: 14px;
}
.l-footer .footer-nav .nav > li.on {
  opacity: .5;
}
.l-footer .footer-nav .nav > li > a:hover {
  opacity: .5;
  background: none;
}
.l-footer .social {
  float: right;
}
.l-footer .social .nav {
  padding: 23px 0 0;
  text-align: right;
}
.l-footer .social .nav > li {
  display: inline-block;
  margin: 0;
}
.l-footer .social .nav > li > a {
  position: relative;
  display: block;
  padding: 11px 14px 14px 12px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  color: #ffffff;
}
.l-footer .social .fa:hover {
  opacity: 1;
  color: #fff;
}
.l-footer .social .fa-facebook:hover {
  background-color: #45619D;
}
.l-footer .social .fa-twitter:hover {
  background-color: #1DCAFF;
}
.l-footer .social .fa-linkedin:hover {
  background-color: #1985BC;
}
div.category-list .listed-items .item {
  margin: 5px 0;
  display: block;
  color: #818181;
  text-decoration: none;
  min-height: 230px;
}
div.category-list .listed-items .item > .thumb {
  position: relative;
  overflow: hidden;
}
div.category-list .listed-items .item > .thumb img {
  width: 100%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
div.category-list .listed-items .item > .thumb > .see-more {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: -50px;
  color: #fff;
  font-size: 24px;
  z-index: 25;
  border-radius: 60px;
  border: 2px solid;
  padding: 0 5px 0 10px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
div.category-list .listed-items .item h4 {
  font-size: 15px;
}
div.category-list .listed-items .item h4.speaker {
  margin-bottom: 3px;
}
div.category-list .listed-items .item h4.title {
  font-weight: 400;
  margin-top: 0;
  color: #333333;
}
div.category-list .listed-items .item .details {
  font-size: 12px;
  color: #818181;
}
div.category-list .listed-items .item .details .views:after {
  content: " \2022 ";
}
div.category-list .listed-items .item:hover {
  color: #333333 !important;
}
div.category-list .listed-items .item:hover .overlay {
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 10;
}
div.category-list .listed-items .item:hover > .thumb img {
  -webkit-filter: blur(1px);
}
div.category-list .listed-items .item:hover > .thumb > .see-more {
  -webkit-transform: translate(0, 250%) rotate(360deg);
  -moz-transform: translate(0, 250%) rotate(360deg);
  -ms-transform: translate(0, 250%) rotate(360deg);
  -o-transform: translate(0, 250%) rotate(360deg);
  transform: translate(0, 250%) rotate(360deg);
}
div.category-list .listed-items .item:hover h4.title {
  color: #333333;
}
div.category-list .categories.aside h3 {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
div.category-list .categories.aside .nav li a {
  padding: 10px 5px;
  border-radius: 0;
  cursor: pointer;
  color: #818181;
  font-size: 14px;
}
div.category-list .categories.aside .nav li a.on {
  display: none;
}
div.category-list .categories.aside .nav li a:hover {
  background: #e6e8eb;
  color: #333333;
}
.l-video .wrap-top {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: #000 !important;
}
.l-video .video {
  overflow: hidden;
  position: relative;
}
.l-video .video .poster {
  /*
      &:before {
        .gradientL(#000, 70%);
        width: 310px;
        height:330px;
        position: absolute;
        z-index: 10;
        content: '';
        left:0;
        top:0;
      }
      &:after {
        .gradientR(#000, 70%);
        width: 370px;
        height:330px;
        position: absolute;
        z-index: 10;
        content: '';
        right:0;
        top:0
      }
      */

}
.l-video .video .poster a.fa-play {
  z-index: 25;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -70px;
  padding: 15px 20px 13px 25px;
  border: 5px solid;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 'all .2s ease-in-out';
  -moz-transition: 'all .2s ease-in-out';
  -ms-transition: 'all .2s ease-in-out';
  -o-transition: 'all .2s ease-in-out';
  transition: 'all .2s ease-in-out';
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.l-video .video .poster a.fa-play:hover {
  -webkit-transform: scale('2');
  -moz-transform: scale('2');
  -o-transform: scale('2');
  -ms-transform: scale('2');
  transform: scale('2');
  font-size: 80px;
  padding: 20px 25px 20px 35px;
  text-decoration: none;
  left: 50%;
  top: 50%;
  margin-top: -60px;
  margin-left: -80px;
}
.l-video .video .poster img {
  width: 100%;
  max-width: 650px;
}
.l-video .video #thevideo embed {
  max-height: 450px;
}
.l-video .title .speaker {
  margin-top: 20px;
}
.l-video .title .speaker p {
  color: #818181;
  font-size: 24px;
  margin-bottom: 0;
}
.l-video .title h1 {
  margin-top: 0;
}
.l-video .use {
  border-bottom: 1px solid #acb4bf;
  padding-top: 10px;
  padding-bottom: 10px;
}
.l-video .use .fa {
  font-size: 21px;
  background: #333333;
  color: #fff;
  text-align: center;
  border-radius: 60px;
}
.l-video .use .fa:hover {
  text-decoration: none;
  cursor: pointer;
  background: #b1b1b1;
  color: #333333;
}
.l-video .use .share,
.l-video .use .download,
.l-video .use .views {
  float: left;
}
.l-video .use .share .title,
.l-video .use .download .title,
.l-video .use .views .title {
  float: left;
  padding-right: 20px;
  margin-top: 10px;
  font-weight: 700;
}
.l-video .use .share .title span,
.l-video .use .download .title span,
.l-video .use .views .title span {
  display: block;
  line-height: 14px;
  font-size: 14px;
}
.l-video .use .share .title span:first-child:after,
.l-video .use .download .title span:first-child:after,
.l-video .use .views .title span:first-child:after {
  content: ' ';
}
.l-video .use .download,
.l-video .use .views {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #acb4bf;
  float: left;
}
.l-video .use .views span {
  font-size: 34px;
}
.image-caption .description {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 100px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.image-caption img {
  /* adding transition for all transformation within 1.5s */

  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
}
.image-caption:hover img {
  /* on hover of image we want to make zoom in effect
      ** so we adding transform scale for 1.1 it mean
      ** make image bigger for 10% */

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.image-caption:hover .description {
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}
.category-list li a .caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 4px 20px 4px 15px;
  opacity: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.category-list li a .caption p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin: 20px 5px;
}
.category-list li a:hover span.name {
  display: none;
}
.category-list li a:hover .caption {
  opacity: 1;
}
.last-topics {
  /* simple */

  /* START: Accommodating for IE */

  /* END: Accommodating for IE */

  /* vertical */

  /*
  .vertical.flip-container:hover .flipper {
      -webkit-transform: rotateX(-180deg);
      -moz-transform: rotateX(-180deg);
      -ms-transform: rotateX(-180deg);
      transform: rotateX(-180deg);
  }
  */

  /* START: Accommodating for IE */

  /* END: Accommodating for IE */

}
.last-topics .flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.last-topics .flip-container:hover .back,
.last-topics .flip-container.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.last-topics .flip-container:hover .front,
.last-topics .flip-container.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.last-topics .flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.last-topics .front,
.last-topics .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.last-topics .front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}
.last-topics .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.last-topics .vertical.flip-container {
  position: relative;
}
.last-topics .vertical .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.last-topics .vertical.flip-container .flipper {
  -webkit-transform-origin: 100% 213.5px;
  -moz-transform-origin: 100% 213.5px;
  -ms-transform-origin: 100% 213.5px;
  transform-origin: 100% 213.5px;
}
.last-topics .vertical.flip-container:hover .back,
.last-topics .vertical.flip-container.hover .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.last-topics .vertical.flip-container:hover .front,
.last-topics .vertical.flip-container.hover .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
/* diabled untill i get time to work on responsive design  */
/***********************************
  RESPONSIVE DESIGN
************************************/
/*----------------------  320px  ----------------------*/
@media all and (min-width: 320px) {
  header #logo img {
    width: 160px;
  }
  header .nav-top > li {
    text-align: center;
  }
  header .nav-top > li > a {
    font-size: 14px;
    padding: 23px 0;
  }
}
@media all and (min-width: 320px) and (max-width: 420px) {
  nav > div {
    padding: 0 !important;
  }
  nav div.navbar-collapse {
    padding: 0;
  }
  .nav-top > li {
    width: 100%;
    text-align: center;
  }
  div.l-standard .l-list .listed-items > .row > div:first-child > div {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media all and (min-width: 320px) and (max-width: 512px) {
  h2 {
    font-size: 21px;
    margin-top: 0;
  }
  header .nav-top > li > a {
    padding: 15px 0;
  }
  header .nav-top > li:hover > a {
    background-color: #e6e8eb !important;
    border-color: transparent;
  }
  header .nav-top > li.on > a {
    background-color: #acb4bf !important;
  }
  div.l-splash .last-topics .row > div {
    width: 100% !important;
  }
  div.l-splash .last-topics .row > div .topic .flipper .back .button-wrap {
    text-align: center;
  }
  div.l-splash .last-topics .row > div .topic .flipper .back .button-wrap a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
  }
  div.l-splash .wrap-bottom hr {
    display: none;
  }
  div.l-splash .wrap-bottom .centered-title h2 {
    margin: 0;
    position: relative;
    left: auto;
  }
  div.l-standard .category-list li a span {
    font-size: 110%;
  }
  div.l-standard .category-list li a:hover span.name {
    display: block;
  }
  div.l-standard .category-list li a:hover .caption {
    display: none;
  }
  div.l-standard .l-about p {
    font-size: 90%;
  }
  div.l-standard .l-about img {
    width: 100%;
  }
  div.l-standard .l-video p {
    font-size: 90%;
  }
  div.l-standard .l-video .title h1 {
    margin-top: 0;
    font-size: 150%;
  }
  div.l-standard .l-video .use .share .title,
  div.l-standard .l-video .use .download .title {
    display: none;
  }
  div.l-standard .l-video .use .views {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
  }
  div.l-standard .l-video .use .views .title {
    margin: 20px 0 0;
    padding-right: 10px;
  }
  div.l-standard .l-video .use .views span {
    font-size: 24px;
    display: inline-block;
    float: left;
    margin-top: 7px !important;
  }
  div.l-standard .l-video .use .fa {
    font-size: 18px;
  }
  div.l-standard .l-video .use .title span {
    font-size: 90%;
    display: inline-block;
  }
  footer.l-footer .copyright p {
    text-align: center;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  div.l-splash .splash-videos .new-video .description p {
    font-size: 90%;
  }
  div.l-splash .last-topics .row {
    padding: 0 15px;
  }
  div.l-splash .last-topics .row > div {
    padding: 0;
  }
  div.l-splash .publications .box {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  div.l-splash .publications .box p {
    min-height: 0 !important;
  }
  div.l-standard .wrap-top h1 {
    margin: 0;
  }
  div.l-standard .l-list .aside {
    display: none;
  }
  div.l-standard .l-video .aside h3 {
    margin-top: 30px;
  }
  div.l-standard .l-contact .address table td p {
    font-size: 14px;
  }
}
/*----------------------  420px  ----------------------*/
@media all and (min-width: 420px) {
  header .nav > li {
    width: 25%;
  }
}
/*---------------------- 512px  ----------------------*/
@media all and (min-width: 512px) and (max-width: 990px) {
  p {
    font-size: 100%;
  }
  div.l-splash .last-topics .topic .flipper .front img {
    width: 165%;
    margin-left: -42%;
  }
  div.l-standard .category-list li a .caption p {
    font-size: 80%;
    margin: 10px 0px;
  }
}
/*----------------------  560px  ----------------------*/
@media (min-width: 560px) {
  div.l-splash .publications .box p {
    min-height: 175px;
  }
}
@media all and (min-width: 560px) and (max-width: 990px) {
  div.l-splash .splash-videos .nv {
    width: 100%;
  }
  div.l-splash .splash-videos .pi {
    width: 100%;
  }
  div.l-splash .splash-videos .pi .populars > div > div .popular-item .thumb {
    display: block;
  }
  div.l-splash .splash-videos .pi .populars > div > div .popular-item .title {
    display: block;
    width: 100%;
    padding: 10px 5px;
    min-height: 65px;
  }
}
@media all and (min-width: 560px) and (max-width: 990px) {
  .splash-videos .pi .populars h3 {
    display: block !important;
  }
  .splash-videos .pi .populars > div > div {
    width: 50%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/*----------------------  568px  ----------------------*/
@media all and (max-width: 568px) {
  div.l-splash .splash-videos .new-video .tag-new {
    right: auto;
    left: 0;
  }
  div.l-splash .splash-videos .new-video :hover .overlay {
    background: none;
  }
  div.l-splash .splash-videos .image-caption .description {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  div.l-splash .splash-videos .image-caption .caption h3 {
    font-size: 16px;
  }
  div.l-splash .splash-videos .image-caption .caption p {
    font-size: 16px;
    margin: 0;
  }
  div.l-splash .splash-videos .image-caption img {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  div.l-splash .splash-videos .image-caption :hover .caption {
    bottom: 0 !important;
    top: auto !important;
  }
  div.l-splash .splash-videos .image-caption :hover .description {
    transform: translateY(none);
    -webkit-transform: translateY(none);
    -moz-transform: translateY(none);
    -ms-transform: translateY(none);
    -o-transform: translateY(none);
    display: none;
  }
}
/*----------------------  768px  ----------------------*/
@media all and (min-width: 768px) {
  header .nav > li {
    width: auto;
  }
  header .nav > li > a {
    font-size: 16px;
    padding: 25px 15px;
  }
  div.l-splash .splash-videos .pi .populars .popular-item .title {
    width: 63%;
  }
  div.l-splash .publications .box p {
    min-height: 200px;
  }
  div.l-standard .listed-items .row > div > div {
    height: 260px;
  }
}
@media (max-width: 768px) {
  .l-footer .social {
    float: none;
    width: 100%;
  }
  .l-footer .social .nav {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px;
    margin-bottom: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: #eee;
  }
  .l-footer .copyright {
    text-align: center;
  }
}
@media all and (min-width: 768px) {
  div.l-splash .publications .box .round-frame {
    display: inline-block;
    background-color: #FFF;
    border-radius: 200px;
    padding: 60px 5px;
  }
}
/*---------------------- 993px  ----------------------*/
@media all and (min-width: 993px) {
  header #logo img {
    width: 100%;
    max-height: 250px;
  }
  header .nav > li {
    width: auto;
  }
  header .nav > li > a {
    font-size: 18px;
    padding: 35px 15px;
  }
  .splash-videos .col-sm-8 {
    width: 66.66666667%;
  }
}
@media all and (min-width: 768px) and (max-width: 993px) {
  div.l-standard .aside .listed-items .ng-scope {
    width: 100%;
  }
}
/*----------------------  1200px ----------------------*/
@media all and (max-width: 1200px) {
  .category-list li a caption p {
    margin: 10px 5px;
    font-size: 12px;
    line-height: 14px;
  }
  div.l-splash .splash-videos .new-video .caption h3 {
    font-size: 28px;
  }
  div.l-splash .splash-videos .new-video .description p {
    padding-top: 0;
  }
  div.l-splash .splash-videos .pi {
    padding-top: 10px;
  }
  div.l-splash .splash-videos .pi .populars h3 {
    font-size: 21px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: none;
  }
  div.l-splash .splash-videos .pi .popular-item .title p {
    font-size: 13px !important;
    line-height: 15px !important;
  }
  div.l-splash .splash-videos .pi .popular-item .title span {
    padding-top: 5px;
  }
  div.l-splash .last-topics .topic .back .button-wrap {
    margin-top: 10px !important;
  }
  div.l-splash .last-topics .topic .back .button-wrap .btn-lg {
    font-size: 14px;
    padding: 7px 10px;
  }
}
@media (min-width: 1200px) {
  header .nav-top > li > a {
    font-size: 21px;
    padding: 41px 15px;
  }
  div.l-splash .splash-videos .pi .populars .popular-item .title {
    width: 68%;
  }
  div.l-splash .publications .row > div .box .round-frame {
    display: inline-block;
  }
  div.l-splash .publications .row > div .box p {
    min-height: 155px;
  }
}
