<div ng-controller="contact.ContactController" class="l-contact" data-status="{{ status }}">

    <div class="wrap-top">
        <div class="container">
            <h1>Contáctenos</h1>
        </div>
    </div>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="address">
                        <h3>INTRAS</h3>
                        <table width="100%">
                            <tbody>

                                <tr>
                                    <td>
                                        <span class="fa fa-phone"></span>
                                    </td>
                                    <td>
                                        <p><strong>Teléfono: </strong> <span>(809) 542-0126</span></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="fa fa-fax"></span>
                                    </td>
                                    <td>
                                        <p><strong>Fax: </strong><span>(809) 540-1982</span></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="fa fa-envelope"></span>
                                    </td>
                                    <td>
                                        <p><strong>E-Mail: </strong><a href="mailto:informacion@intras.com.do">informacion@intras.com.do</a></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="fa fa-location-arrow"></span>
                                    </td>
                                    <td>
                                        <p>Av. Abraham Lincoln esq. Gustavo Mejía Ricart <br />Torre Piantini, suite 904 <br />
                                        Ensanche Piantini, Santo Domingo, Distrito Nacional <br />
                                        <strong>República Dominicana</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.2021965806784!2d-69.93581599999797!3d18.474498237194524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf89e6178f5d9b%3A0x3b38ee927795f75c!2sTorre+Piantini%2C+Av+Gustavo+Mejia+Ricart!5e0!3m2!1sde!2sde!4v1403544337596" width="100%" height="300" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>